/* 
primary #F58220 
secondary #354A55 
light #F2F2F2 
*/

/*--------- GERAL ------*/

body{
    font-family: 'Open Sans', sans-serif;
    color: #354A55;
}

.bg-light{
    background-color: #F2F2F2!important;
}

.bg-secondary{
    background-color: #354A55!important;
}

.bg-primary{
    background-color: #F58220!important;
}

.bg-primary-darker{
    background-color: #EF7914;
}

.color-light{
    color: #F2F2F2;
}

.color-secondary{
    color: #354A55;
}

.color-w50{
    color: rgba(255,255,255,0.5);
}

.color-secondary50{
    color: rgba(53,74,85,0.5);
}

.color-secondary20{
    color: rgba(53,74,85,0.2);
}

.color-primary, .button.color-primary:hover, .button.color-primary:active, .button.color-primary:focus{
    color: #F58220;
}

.button{
    border-radius: 36px;
    padding: 1.5em 3em;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Lexend Deca', 'Open Sans', sans-serif;
}

.button:hover, .button:active, .button:focus{
    text-decoration: none;
}

.button-round{
    padding: 1.4em;
    border-radius: 50%;
    width: 4.7em;
    height: 4.7em;
    text-align: center;
}

a.link-over {
    color: #f58220;
    text-decoration: underline;
    border-bottom: 1px solid;
}

a.link-over:hover {
    color: #d06a12;
}

.font-artificial-bold{
    text-shadow:1px 0 0 currentColor;
}

.font-weight-semi{
    font-weight: 600;
}

li{
    margin-bottom: 10px;
}

.icon-light {
    filter: brightness(500%);
}

.button-alt {
    border-radius: 2em;
    padding: 01em 1.5em;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.button-alt.bg-primary:hover {
    color: #fff;
    text-decoration: none;
    background-color: #F58220!important;

}

.button-round.button-sm{
    padding: 0.7em;
    width: 3.3em;
    height: 3.3em;
}

.button-primary{
    background-color: #F58220;
    color: #F2F2F2;
    border: 0;
}

.button-secondary{
    background-color: #354A55;
    color: #F2F2F2;
    border: 0;
}

.button-grey{
    background-color: #999999;
    color: #F2F2F2;
    border: 0;
}

.button-primary:hover, .button-primary:active, .button-primary:focus{
    background-color: #dc7218;
    color: #F2F2F2;
}

.button-secondary:hover, .button-secondary:active, .button-secondary:focus{
    background-color: #243640;
    color: #F2F2F2;
}

.button-grey:hover, .button-grey:active, .button-grey:focus{
    background-color: #828282;
    color: #F2F2F2;
}

.button-outline-secondary{
    border: 2px solid #354A55;
}

.button-outline-primary{
    border: 2px solid #F58220;
}

.button-outline-light{
    border: 2px solid #F2F2F2;
}

.button-outline-secondary:hover, .button-outline-secondary:active, .button-outline-secondary:focus, .button-outline-primary:hover, .button-outline-primary:active, .button-outline-primary:focus, .button-outline-light:hover, .button-outline-light:active, .button-outline-light:focus{
    background-color: rgba(255,255,255,0.1);
}

.sbm-btn {
    padding: 1.5em 5em;
}

.h4, h4 {
    font-size: 1.4rem;
}

.link{
    color: #F58220;
    text-decoration: underline;
}
.link:hover{
    color: #dc7218;
}

.font-secondary{
    font-family: 'Lexend Deca', 'Open Sans', sans-serif;
}

.rounded{
    border-radius: 20px!important;
}

.rounded-left{
    border-radius: 20px 0 0 20px !important;
}

.rounded-full-left {
    border-radius: 200px 0 0 0px !important;
}

.rounded-right{
    border-radius: 0px 20px 20px 0px !important;
}

.rounded-full-right {
    border-radius: 0px 0px 200px 0px !important;
}

.underlined{
    text-decoration: underline;
}

.section-lg{
    padding-top: 8em;
    padding-bottom: 8em;
}

.section-md {
    padding-top: 4em;
    padding-bottom: 4em;
}

.align-content-between{
    align-content: space-between;
}

.h4, .h5{
    line-height: 1.5em;
}

.lh-2{
    line-height: 2em;
    }

.bleed-left{
    margin-left: -15px;
}
.bleed-right{
    padding-right: 0;
    text-align: right;
}

.border-lightish{
    border-color: rgba(242, 242, 242, 0.3);
}

.border-grey{
    border-color: rgba(53, 74, 85, 0.2);
}

.card{
    border-radius: 30px;
    border: 0;
}
.card-lg{
    padding: 3em;
}

.card header{
    color: rgba(53, 74, 85, 0.4);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
}

.bg-circles{
    position: fixed;
    top: -15%;
    right: -12%;
    z-index: -1;
    width: 800px;
    max-width: 100%;
    height: 800px;
    max-height: 100vw;
}
.circles-wrap{
    position: relative;
    left: -20%;
}
.bg-circles .circle1, .bg-circles .circle2, .bg-circles .circle3{
    position: absolute;
    left: 50%;
}
.bg-circles img{
    transform: translateX(-50%);
    width: 100%;
}
.bg-circles .circle3{
    width: 100%;
    top: 0;
}
.bg-circles .circle2{
    width: 77%;
    top: 10%;
}
.bg-circles .circle1{
    width: 54%;
    top: 21%;
}

.underlined-title{
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(242, 242, 242, 0.2);
    display: inline-block;
}

.features-list .item .count:after{
    display: block;
    width: 90%;
    border-bottom: 1px solid #354A55;
    content: '';
    float: right;
}

.features-list.color-secondary .item{
    color: rgba(53,74,85,0.3);
}
.features-list.color-secondary .item:hover{
    color: #354A55;
}
.features-list.color-light .item{
    color: rgba(255,255,255,0.3);
}
.features-list.color-light .item hr{
    border-color: rgba(255,255,255,0.3);
}
.features-list.color-light .item:hover{
    color: #F2F2F2;
}

.cards-hoverup .card{
    transition: all 0.3s;
}
.cards-hoverup .card:hover{
    transition: all 0.3s;
    margin-top: -10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

#lang-select{
    display: inline-block;
    padding: 0.5em;
    position: relative;
}

.lang-btn, #main-menu .item{
    cursor: pointer;
}

.dropd{
    height: 0px;
    overflow: hidden;
    transition: height 0.3s;
    position: absolute;
}
.dropd a{
    padding: 10px 20px;
    display: block;
    color: #1b2b33;
}
.dropd a:hover{
    text-decoration: none;
    color: #1b2b33;
}
#lang-dropdown.dropd a{
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}

.hr-dec-light{
    border-bottom: 1px solid #F2F2F2;
    width: 100%;
}
.hr-dec-light:before{
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
}

.tabs{
    border-top-width: 3px;
    border-top-style: solid;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}
.tabs .tab{
    padding: 20px 40px;
    display: inline-block;
    float: left;
}
.tabs-light50{
    color: #F2F2F2;
    border-color: rgba(242,242,242,0.08);
}
.tabs-light50 .tab{
    background-color: rgba(242,242,242,0.08);
    transition: all 0.3s;
}
.tabs-light50 .tab.active,.tabs-light50 .tab:hover{
    background-color: rgba(242,242,242,0);
    transition: all 0.3s;
}
.tabs-primary{
    color: #F2F2F2;
    border-color: #F58220;
}
.tabs-primary .tab{
    background-color: transparent;
    transition: all 0.3s;
    color: rgba(53,74,85,0.5);
}
.tabs-primary .tab.active,.tabs-primary .tab:hover{
    background-color: #F58220;
    transition: all 0.3s;
    color: #F2F2F2;
}
.tab-body{
    display: none;
}
.tab-body.active{
    display: block;
}

.round-top-left{
    border-top-left-radius: 100px;
}

.input-xl{
    padding: 20px;
    font-size: 1.4em;
    border: 0;
    border-radius: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.input-xl:focus, .input:focus{
    outline: none;
}

.input{
    padding: 15px 20px;
    font-size: 1.2em;
    border: 1px solid #DADADA;
    border-radius: 40px;
    width: 100%;
}

/*------- HEADER ------*/

#main-header{
    padding: 2em;
    z-index: 20;
    /*position: relative;*/
    font-family: 'Lexend Deca', 'Open Sans', sans-serif;
    position: fixed;
    top: -100%;
    transition: all 0.5s;
    width: 100%;
}
#main-header:before{
    background-color: #F2F2F2;
    content: '';
    display: block;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
}
.openmenu #main-header{
    pointer-events: none;
}
.openmenu #main-header a, .openmenu #main-header .lang-btn, .openmenu #main-header #menu-btn{
    pointer-events: all;
}
.openmenu #main-header:before, #main-header.top:before{
    opacity: 0;
}

.header-right{
    text-align: right;
}

#main-header.sticky{
    top: 0;
    transition: all 0.5s;
}
#header-space{
    height: 140px;
}

/*--------- MENU ---------*/

#menu-btn{
    vertical-align: middle;
}
#menu-btn .icon-close{
    position: relative;
    top: -100%;
}
#menu-btn .icon-close, .openmenu #menu-btn .icon-menu{
    opacity: 0;
    transition: all 0.2s;
    transform: rotate(90deg);
}
#menu-btn .icon-menu, .openmenu #menu-btn .icon-close{
    opacity: 1;
    transition: all 0.2s;
    transform: rotate(0deg);
}

.openmenu .lang-btn, .openmenu .lang-btn svg path, .openmenu #lang-dropdown a, #main-menu a{
    color: #F2F2F2;
    fill: #F2F2F2;
}
.openmenu #lang-select .icon-dark, #lang-select .icon-light, .openmenu .header-left{
    display: none;
}
.openmenu #lang-select .icon-light, #lang-select .icon-dark{
    display: inline-block;
}
.openmenu #main-header{
    position: fixed;
    top: 0;
    right: 0;
}
#main-menu{
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #354A55;
    left: 100%;
    transition: left 0.3s;
    z-index: 19;
    top: 0;
    color: #F2F2F2;
    font-family: 'Lexend Deca', 'Open Sans', sans-serif;
}
#main-menu .lvl2, #main-menu .lvl3{
    position: absolute;
    left: 100%;
    transition: left 0.3s;
    top: 0;
    height: 100%;
    padding-left: 0;
    padding-right: 70px;
    width: 100vw;
}
#main-menu .lvl2{
    background-color: #516470;
}
#main-menu .lvl3{
    background-color: #607685;  
    z-index: 10;
}
#main-menu .lvl2 .subtitle{
    padding-left: 70px;
}
#main-menu .lvl2 .item{
    margin-bottom: 20px;
    padding-left: 70px;
}
#main-menu .lvl3 .item{
    padding: 7px 0;
    padding-left: 70px;
}
#main-menu .lvl2.open, #main-menu .lvl3.open{
    left: 0px;
    transition: left 0.3s;
}
.openmenu #main-menu{
    pointer-events: initial;
    left: 0;
    transition: left 0.3s;
}
#main-menu .item{
    display: block;
}
#main-menu .item:hover,#main-menu a.h5:hover{
    text-decoration: none;
    color: #F58220;
}
#main-menu .lvl1, #main-menu .lvl2, #main-menu .lvl3{
    height: 100%;
    padding-bottom: 50px;
    overflow-y: auto;
    padding-top: 140px;
}
#main-menu .lvl1 .item{
    font-size: 1.7em;
    padding: 7px 20px;
    padding-left: 50px;
}
#main-menu .lvl1 .item.active{
    background-color: #516470;
}
#main-menu .lvl2 .item.active{
    background-color: #607685;
}
#main-menu .has-sub:before{
    content: url(/assets/images/icon-arrow-down-l.svg);
    margin-left: -20px;
    padding-right: 5px;
    display: inline-block;
    transition: all .1s;
}
#main-menu .has-sub:hover:before, #main-menu .active .has-sub:before, #main-menu .active:before{
    transform: rotate(-90deg);
    transform-origin: 40%;
    transition: all .1s;
}

.custom-scroll {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

.custom-scroll.showScroll::after {
    position: absolute;
    content: '';
    top: 0%;
    right: 3px;
    height: 99%;
    width: 2px;
    background: rgba(224, 224, 255, .3);
}

.custom-scroll .content-wrapper {
    width: calc(100% + 30px);
    padding-right: 30px;
    height: 100%;
    overflow-y: scroll;
}
.scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 4px;
    background: #F58220;
    top: 0px;
    right: 2px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}
.content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-menu .subtitle{
    text-transform: uppercase;
    margin-top: 30px;
}
.menu-back-btn{
    transform: rotate(90deg);
    margin-top: -90px;
    display: block;
    margin-bottom: 40px;
}

.text-bubble{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 26px;
    padding: 40px;
    width: 100%;
    display: none;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.text-bubble.open{
    display: block;
}
.text-bubble .text-bubble-h{
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: block;
    transform: rotate(45deg);
    content: '';
    top: -20px;
}

.dotted-list .item, .dotted-list-secondary .item{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 2px dashed rgba(255,255,255,0.5);
    height:100%;
}
.dotted-list-secondary .item{
    border-color: rgba(53,74,85,0.3);
}

/*-------- PAGINAS ------*/

/*--------- home --------*/

.section-home2 .pop{
    position: relative;
    width: 100%;
}
.section-home2 .pop .h1{
    position: absolute;
    right: 0;
    top: -40px;
}
.section-home2 .pop .rounded{
    width: 70%;
}

.section-home1, .circles-section{
    clip-path: polygon(0% -50%, 100% -50%, 100% 100%, 0 100%);
}
.section-home3{
    clip-path: polygon(0% 0%, 100% 0%, 100% 150%, 0 150%);
}

.home-solution .info{
    pointer-events: none;
    position: absolute;
    bottom: -50%;
    opacity: 0;
}
.home-solution:hover .info{
    bottom: 0;
    opacity: 1;
}
.home-solution:hover .h1{
    opacity: 0;
}
.home-solution .button{
    border-color: rgba(53, 74, 85, 0.4);
}
.home-solution:hover .button.color-secondary{
    background-color: #354A55;
    color: #F2F2F2;
}
.home-solution:hover .button.color-primary{
    background-color: #F58220;
    border-color: #F58220;
    color: #F2F2F2;
}
.home-solution .button, .home-solution .h1, .home-solution .info, .home-solution:hover .info, .home-solution:hover .h1, .home-solution:hover .button{
    transition: all 0.6s;
}
.home-solutions:before, .dotted-side:before{
    content: '';
    display: block;
    width: 300px;
    height: 200px;
    background-image: url(/assets/images/pattern-dot.png);
    background-size: 26px;
    position: absolute;
    top: 22%;
    right: 0px;
}
.dotted-side:before{
    top: unset;
    bottom: 20px;
    opacity: 0.7;
}

.fade-bottom-light, .home-solutions{
    position: relative;
}


/*-------- sobre nos-----*/

.bg-secondary .color-light > hr {
    color: #F2F2F2;
}

.hr-light hr{
        border-top: 1px solid #F2F2F2;
}

.cases-clients-all .hr-light {
    border-top: 1px solid #F2F2F200!important;
}
.cases-clients-all .item{
    margin-top: 75px;
}

/*.fade-bottom-dark{
    position: relative;
}

.fade-bottom-dark:after {
    content: '';
    display: block;
    pointer-events: none;
    background: linear-gradient(transparent, #354a55d1);
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
}*/

/*---------box pequena empresa ---------*/

h4 span.box-pq-empresa {
    display: none;
    position: absolute;
    color: #b5b5b5;
    background: #fff;
    border-radius: 1.5em;
    padding: 4em 2.5em 2.5em;
    width: 500px;
    left: -102px;
    top: 0px;
    box-shadow: 0px 8px 10px #00000061;
    height: auto;
}

h4:hover span.box-pq-empresa {
    display: block;
    z-index: 99;
}

/*------------- cases de sucesso -----------*/

img.quotation-case {
    width: 50px;
    margin: 0px 0px 30px;
}

.text-cases {
    font-size: 14px;
    line-height: 1.8em;
}

.clients-cases p {
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #484848b3;
}

.container.features-list .item {
    margin-top: 75px;
}

.box-text-pq {
    font-size: 14px !important;
    text-transform: uppercase;
    color: #808080b3!important;
    line-height: 1.5em!important;
}

.cases-clients-all {
    position: relative;
}

.cases-clients-all span {

    position: absolute;
    right: 107%;
    width: 1px;
    height: 100%;
    background-color: #fff;

}

span.other-s {

    position: absolute;
    right: 106.9%;
    width: 2px;
    height: 150px;
    background-color: #fff;

}

/*-------- SPED ---------*/

.slc-contact-btn {
    font-size: 14px;
    border-radius: 50px;
    padding: 1.5em 5em;
}


/*------gestao obrig-------*/

.sped-cont .slc-contact-btn{
    margin: 150px 0px 0px;
}


/*------- ECF -----------*/


.section-ecf{
    padding-top: 130px;
    padding-bottom: 50px;
}

.section-ecf h1{
    font-size: 50px;
    font-weight: normal;

}
.section-ecf p{
    font-size: 23px;
    font-weight: 100;
}

.accordion{
    border-top: 2px solid;
    border-color: #D9DDDE;
}

.section-accordion p{
    font-size: 23px;
    font-weight: 100;
}
.accordion h4{
    font-size: 23px;
}

.accordion-body{
    background-color: rgba(53, 74, 85, 0.05);
    text-align: left;
}

.accordion-body-dark {
    background-color: #ea7511;
    text-align: left;
}   

.accordion-btn{
    cursor: pointer;
    display: flow-root;
}

.last-accordion{
    padding-bottom: 100px;
}

/*-------suporte---------*/

/*.box-text {
    padding-top: 120px;
}*/

.box-imagem {
    display: block;
    padding-top: 193px;
}

p.h1.font-secondary.mt-5 {
    font-size: 50px;
}


a#suporte-link {
    text-decoration: none;
    color: #3A4B56;
}

.group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

#text-align{
    padding-top: 10px;
}



/*--------mensageria-----*/
.section-mensageria h1{
    font-size: 50px;
    font-weight: normal;
}

.section-mensageria p{
    font-size: 23px;
    font-weight: lighter;
}

/*--------- folha de pag -----------*/

.sistem-gst .accordion {
    border-color: #FFFFFF47;
}

.sistem-gst .accordion h4 {
    font-weight: 600;
}


/*--------recuperação de xml--------*/
.section-recuperacao-xml h1{
    font-size: 50px;
    font-weight: normal;
}


.section-recuperacao-xml p{
    font-size: 23px;
    font-weight: lighter;
}

.box-recup-button{
    margin-top: 140px;
}
/*--------ct-e-----------*/

.section-ct-e{
    margin-top: 50px;
}

.section-ct-e{
    background-color: #F58220;
}

.section-ct-e h1, .section-ct-e p{
    color:white;
}

.section-ct-e h1{
    font-size: 50px;
    font-weight: normal;
}

.section-ct-e p{
    font-size: 23px;
    font-weight: lighter;
}


/* ------ slider --------- */
.glide__arrow {
    display: inline-block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    line-height: 1; 
}
.glide__arrow:focus, .glide__bullet:focus {
    outline: none; 
}
.glide__arrow--disabled {
    opacity: 0.33; 
}
.glide__bullets {
    display: inline-flex;
    list-style: none;
    vertical-align: middle;
}
.glide__bullet {
    background-color: transparent;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.25em; 
    position: relative;
}
.glide__bullet--active:before {
    content: '';
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.glide--swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; 
}
.glide--dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing; 
}
.slider-secondary .glide__bullet{
    border: 1px solid #354A55;
}
.slider-light .glide__bullet{
    border: 1px solid #fff;
}
.slider-primary .glide__bullet{
    border: 1px solid #F58220;
}
.slider-secondary .glide__bullet--active:before{
    background-color: #354A55;
}
.slider-light .glide__bullet--active:before{
    background-color: #fff;
}
.slider-primary .glide__bullet--active:before{
    background-color: #F58220;
}
.slider-secondary .glide__bullet:hover {
    background-color: rgba(53, 74, 85, 0.4);
}
.slider-light .glide__bullet:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
/* ------ slider --------- */

/* ------ blog --------- */
.pagination-arrow{
    background-color: #F58220;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.pagination-item{
    width: 40px;
    height: 40px;
    margin: 7px;
    padding-top: 7px;
    text-align: center;
    color: #354A55;
    font-weight: 600;
}
.pagination .active{
    border: 1px solid #F58220;
    border-radius: 50%;
}
.blog-post-img{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.3);
}
.blog-list-img{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.3);
}
.blog-list-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* ------ blog --------- */

/*------- PMEmpresas -----------*/
.pmempresas-banner{
    background-size: cover;
    background-image:url('/assets/images/pmempresas1.jpg');
    background-position: center;
}
.pme-icon2{
    height: 96px;
}
/*------- PMEmpresas -----------*/

/*------- trabalhe conosco -----------*/
.trabalheconosco-img{
    display: inline-block;
    position: relative;
    margin-bottom: 100px;
}
.trabalheconosco-img img{
    box-shadow: 2px 4px 70px rgba(50,90,151,0.28);
}
.trabalheconosco-img:before{
    content: '';
    width: 170px;
    height: 170px;
    background-image: url('/assets/images/pattern-dot.png');
    display: block;
    background-size: 25px;
    position: absolute;
    bottom: -100px;
    left: -100px;
    z-index: -1;
    opacity: 0.5;
}
.custom-file-input:focus:invalid + label{
    border: 1px solid red!important;
}
/*------- trabalhe conosco -----------*/

/*--------FOOTER----------*/

#main-footer {
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 90%;
}

#main-footer a{
    color: rgba(242, 242, 242, 0.3);
}


/*------KEY FRAMES --------*/


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}



/*----- MEDIA QUERIES ----*/

/*--------min-width--------*/

@media (min-width: 1600px){
    .container {
        max-width: 1440px;
    }
}

@media(min-width: 900px){

    .h1{
        font-size: 3.5rem;
    }
    #main-menu .lvl2{
        width: 67vw;
    }
    #main-menu .lvl3{
        width: 34vw; 
    }
    #main-menu .lvl2.open{
        left: 33%;
    }
    #main-menu .lvl3.open{
        left: 66%;
    }
    .menu-back-btn{
        display: none;
    }
    #main-menu .lvl2 .item{
        width: 60%;
        padding-right: 20%;
    }
}

@media(min-width:768px){
    .home-solutions, .pmempresas-performance{
        padding-bottom: 200px;
        margin-bottom: -100px;
    }
    .section-bpo{
        padding-top: 0;
        padding-bottom: 0;
    } 
    .text-bubble {
        position: absolute;
        top: calc(100% + 40px);
        margin-top: 0px;
        z-index: 99;
    }


}

@media(min-width: 750px){
    .section-home1 .h1{
        display: inline-block;
    }
    .section-home1 .h4{
        display: inline-block;
        position: relative;
        left: -10%;
        top: 100px;
    }
    .section-sobre-nos .h4 {
        display: inline-block;
        position: relative;
        top: 25px;
    }
    .card-lg{
        padding: 4em;
    }
}


/*---------max-width ---------*/

@media(max-width:1200px){
    .home-solution .h1{
        font-size: 2.6em;
    }
    .button:not(.button-round){
        padding-left: 2.8em;
        padding-right: 2.8em;
    }
}

@media(max-width:750px){
    #lang-select, .header-contact-btn{
        display: none;
    }

    h4 span.box-pq-empresa {
        left: -30px;
    }
    #main-footer{
        padding-top: 50px;
    }

}

@media(max-width:575px){

    h4 span.box-pq-empresa {
        left: 0px;
    }

}

@media(max-width:500px){
    .section-first{
        padding-top: 3rem;
    }
}

@media only screen and (min-resolution: 2dppx) only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi){
    .pmempresas-banner{
        background-image:url('/assets/images/pmempresas1@2x.jpg');
    }
}