<?php $num = $this->view->verif->num_rows;
echo $num . "|<>|";

if($num):?>
    <style>
        #notifica-contato .listview:before{
            opacity: 0 !important;
        }
    </style>
<?php
endif;?>
<div class="listview listview--hover">
    <div class="listview__header">
        Contatos

        <div class="actions">
            <a href="" onclick="limpaMensagens()" class="actions__item zmdi zmdi-check-all"
               data-ma-action="notifications-clear"></a>
        </div>
    </div>

    <div class="listview__scroll scrollbar-inner">
        <?php if($num):
            foreach ($this->view->verif as $item):?>
                <a href="<?= BASE_SITE?>mensagens#listamsg" class="listview__item">
                    <img src="<?= BASE_SITE?>App/Views/includes/imagens/user.jpg" class="listview__img" alt="">

                    <div class="listview__content">
                        <div class="listview__heading"><?= $item['nome']?></div>
                        <p><?= $item['assunto']?></p>
                    </div>
                </a>
            <?php
            endforeach;
        endif;?>
    </div>
    <div class="p-1"></div>
</div>
