<div class="card">
    <div class="card-header">
    <form class="form-horizontal" action="<?=BASE_SITE?>usuarios/cadastro" method="post" enctype="multipart/form-data" id="validation-form">
        <input type="hidden" name="id-cond" value="<?=$this->view->id?>" />
        <div class="row pt-2">
            <div class="col-12 col-sm-<?=$this->view->id ? 6 : 5 ?> pr-1">
                <div class="form-group form-group--float">
                    <input type="text" name="nome-string"  class="form-control fg-input required" value="<?=@$this->view->lista['nome']?>">
                    <label>Nome</label>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-12 col-sm-<?=$this->view->id ? 6 : 5 ?> pr-1">
                <div class="form-group form-group--float">
                    <input type="text" name="email-string"  class="form-control fg-input required" value="<?=@$this->view->lista['email']?>">
                    <label>E-mail</label>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <?php if( !$this->view->id ):?>
				<div class="col-12 col-sm-2 pr-1">
					<div class="form-group form-group--float">
						<input type="text" name="senha-string"  class="form-control fg-input required" value="">
						<label>Senha</label>
						<i class="form-group__bar"></i>
					</div>
				</div>
            <?php
			endif;?>
        </div>
        <div class="row pt-3">
            <div class="col-12 col-sm-5" style="margin-top: -19px;">
                <label class="fg-label mt-5 mt-sm-0" style="margin-bottom: 15px;font-size: .875rem !important;">Nível de Acesso</label>
                <br />
                <label class="custom-control custom-radio">
                    <input type="radio" name="nivel-string" value="a" <?= !isset($this->view->lista['nivel']) || @$this->view->lista['nivel'] == 'a' ? "checked" : ""?> class="custom-control-input" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Administrador</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" name="nivel-string" value="c" <?=@$this->view->lista['nivel'] == 'c' ? "checked" : ""?> class="custom-control-input" >
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Colaborador</span>
                </label>
            </div>
            <div class="col-12 col-sm-7 <?=@$this->view->lista['nivel'] == 'c' ? "" : "hidden-xs-up"?> " id="permissoes" style="margin-top: -19px;">
                <label class="fg-label mt-5 mt-sm-0" style="margin-bottom: 15px;font-size: .875rem !important;">Permissões</label>
                <div class="row">
                    <div class="col-6">
                        <div class="toggle-switch">
                            <input class="toggle-switch__checkbox" type="checkbox" name="permissoes-cond[]" value="c" <?= in_array( "c", $this->view->permissao ) ? "checked" : ""?> >
                            <i class="toggle-switch__helper"></i>
                        </div>
                        <span style="position: absolute; margin-left: 5px;">Contatos - Contratar Serviço</span>
                    </div>
                    <div class="col-6">
                        <div class="toggle-switch">
                            <input class="toggle-switch__checkbox" type="checkbox" name="permissoes-cond[]" value="s" <?= in_array( "s", $this->view->permissao ) ? "checked" : ""?> >
                            <i class="toggle-switch__helper"></i>
                        </div>
                        <span style="position: absolute; margin-left: 5px;">Contatos - Solicitação de Parceria</span>
                    </div>
                    <div class="col-6">
                        <div class="toggle-switch">
                            <input class="toggle-switch__checkbox" type="checkbox" name="permissoes-cond[]" value="p" <?= in_array( "p", $this->view->permissao ) ? "checked" : ""?> >
                            <i class="toggle-switch__helper"></i>
                        </div>
                        <span style="position: absolute; margin-left: 5px;">Contatos – Parceria Toda Cadeia Logística</span>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6">
                        <div class="toggle-switch">
                            <input class="toggle-switch__checkbox" type="checkbox" name="permissoes-cond[]" value="i" <?= in_array( "i", $this->view->permissao ) ? "checked" : ""?> >
                            <i class="toggle-switch__helper"></i>
                        </div>
                        <span style="position: absolute; margin-left: 5px;">Contatos - Informações do Pedido</span>
                    </div>
                    <div class="col-6">
                        <div class="toggle-switch">
                            <input class="toggle-switch__checkbox" type="checkbox" name="permissoes-cond[]" value="t" <?= in_array( "t", $this->view->permissao ) ? "checked" : ""?> >
                            <i class="toggle-switch__helper"></i>
                        </div>
                        <span style="position: absolute; margin-left: 5px;">Contatos - Trabalhe Conosco</span>
                    </div>
                    <div class="col-6">
                        <div class="toggle-switch">
                            <input class="toggle-switch__checkbox" type="checkbox" name="permissoes-cond[]" value="o" <?= in_array( "o", $this->view->permissao ) ? "checked" : ""?> >
                            <i class="toggle-switch__helper"></i>
                        </div>
                        <span style="position: absolute; margin-left: 5px;">Contatos - Outros</span>
                    </div>
                </div>
			</div>
        </div>

        <div class="row pt-5">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-gray btn-lg btn-icon-text waves-effect"><i class="zmdi zmdi-floppy"></i>
                    Salvar </button>
            </div>
        </div>
    </form>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('[data-rel=tooltip]').tooltip();

        $('#validation-form').submit(function(){
            var retorno = true;
            $(".required").each(function (i,e) {
                if(e.value == "") {
                    $(this).parent().addClass("errorForm");
                    retorno = false;
                }
            })
			
			if( $("input[name=nivel-string]:checked").val() == 'c' )
			{
				var erro = true;
				//checa as permissoes
				$("#permissoes input").each(function(i,e){
					if(e.checked)
						erro = false;
				})
				if(erro)
					swal("Permissões", "Você precisa selecionar pelo menos uma permissão", "warning")
			}

            return retorno;
        });

        $(".required").focusin(function(){
            $(this).parent().removeClass("errorForm");
        });
		
		$("input[name=nome-string]").focus();

        $("input[name=nivel-string]").click(function () {
            if($(this).val() == 'c')
                $("#permissoes").removeClass("hidden-xs-up");
            else
                $("#permissoes").addClass("hidden-xs-up");
        });
    });
</script>
