<div class="card">
    <div class="card-header">
    <form class="form-horizontal" action="<?=BASE_SITE?>usuarios/dados" method="post" enctype="multipart/form-data" id="validation-form">
        <input type="hidden" name="id-cond" value="<?=$_SESSION[DB_DATABASE]['id_usuario']?>" />
        <div class="row pt-2">
            <div class="col-12 col-sm-4 pr-1">
                <div class="form-group form-group--float">
                    <input type="text" name="nome-string"  class="form-control fg-input required" value="<?=@$this->view->lista['nome']?>">
                    <label class="fg-label">Nome</label>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-12 col-sm-4 pr-1">
                <div class="form-group form-group--float">
                    <input type="text" name="email-string"  class="form-control fg-input required" value="<?=@$this->view->lista['email']?>">
                    <label class="fg-label">E-mail</label>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-12 col-sm-2 pr-1">
                <div class="form-group form-group--float">
                    <input type="password" name="senha1-cond" data-check="senha2" class="form-control fg-input validaSenha" value="">
                    <label class="fg-label">Nova Senha</label>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-12 col-sm-2 pr-1">
                <div class="form-group form-group--float">
                    <input type="password" name="senha2-cond" data-check="senha1" class="form-control fg-input validaSenha" value="">
                    <label class="fg-label">Repita a Senha</label>
                    <i class="form-group__bar"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-right" style="position: absolute;margin-top: -20px; margin-left: -7px;">
                Deixar em branco caso não deseje alterar a senha. &nbsp;
            </div>
        </div>
        <div class="row p-10">
            <div class="col-12 text-center">
                <button class="btn btn-gray btn-lg btn-icon-text waves-effect"><i class="zmdi zmdi-floppy"></i> Salvar </button>
            </div>
        </div>
    </form>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('[data-rel=tooltip]').tooltip();

        $('#validation-form').submit(function(){
            var retorno = true;
            $(".required").each(function (i,e) {
                if(e.value == "") {
                    $(this).parent().addClass("errorForm");
                    retorno = false;
                }
            })

            return retorno;
        });

        $(".required").focusin(function(){
            $(this).parent().removeClass("errorForm");
        })

        $(".validaSenha").blur(function(){
            var checar = $(this).data("check");
            console.log(checar)
            console.log($(this).val())
            console.log($("input[name="+checar+"-cond]").val())
            if( $(this).val() && $("input[name="+checar+"-cond]").val() )
            {
                if( $(this).val() != $("input[name="+checar+"-cond]").val() )
                {
                    swal({
                        title: 'Ops! Senhas diferentes!',
                        text: "As senhas digitadas dever ser iguais.",
                        type: 'warning',
                        showCancelButton: false,
                        confirmButtonText: ' Ok ',
                    }).then(function () {
                        $(".validaSenha").val("");
                        $("input[name=senha1-cond]").focus();
                    });
                }
            }
        });

        $("#senha2").blur(function(){
            var senha = $(this).val();
            if(senha == '')
                $(this).val('******');
            else if($("#senha1").val() != senha)
            {
                $(this).val('******');
                $("#info div").empty().html("As senhas digitadas devem ser iguais.");
                $("#info").dialog("open");
            }
        });

        <?php if(isset($this->view->retorno)):?>
        swal("<?=$this->view->retorno == "ok" ? "Sucesso" : "Opa! Alguma coisa está errada" ?>", "<?=$this->view->retorno == "ok" ? "Seus dados foram atualizados ;)" : "Ocorreu um erro ao atualizar os seus dados :(" ?>", "<?=$this->view->retorno == "ok" ? "success" : "warning" ?>")
        <?php
        endif;?>

    });
</script>
