<link href="<?=BASE_SITE?>App/Views/projetos/crop.css" rel="stylesheet">
<script src="<?=BASE_SITE?>App/Views/projetos/cropbox.js"></script>
<div class="card">
	<div class="card-header">
		<form class="form-horizontal" action="<?=BASE_SITE?>projetos/cadastro" method="post" enctype="multipart/form-data" id="validation-form">
			<input type="hidden" name="id-cond" value="<?=@$this->view->dados['id']?>" />
			<div class="row pt-3">
				<div class="col-12 col-sm-2">
					<div class="form-group form-group--float">
						<input type="text" id="dataIniciar" name="data-date" class="form-control fg-input text-center dataPicker" value="<?= @$this->view->dados['data'] ? date("d/m/Y", strtotime( $this->view->dados['data'] ) ) : date("d/m/Y")?>" readonly >
						<label class="fg-label">Data de Postagem</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-12 col-sm-4" style="margin-top: -19px;">
                    <label class="fg-label" style="margin-bottom: 15px;font-size: .875rem !important;">Status</label>
                    <br />
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="s" <?= !isset($this->view->dados['status']) || @$this->view->dados['status'] == 's' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Publicado</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="n" <?=@$this->view->dados['status'] == 'n' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Despublicado</span>
                    </label>
                </div>
			</div>
			<div class="row pt-5">
				<div class="col-12 col-sm-5" style="">
					<div class="form-group form-group--float">
						<label class="fg-label" style="margin-top: -18px; font-size: .875rem !important;">Cliente</label>
							<input type="text" name="cliente-string" class="form-control fg-input required" value="<?=@$this->view->dados['cliente']?>" onclick="$(this).removeClass('errorForm')">
						<i class="form-group__bar"></i>
					</div>
				</div>
				<div class="col-12 col-sm-3" style="margin-top: -19px;">
					<label class="fg-label" style="margin-top: -18px;font-size: .875rem !important;">Categoria</label><br />
					<select name="categoria-string" id="tipo_rastreio" class="inputbox select" value="<?=$this->view->dados['categoria']?>">
						<option value="0" <?=$this->view->dados['categoria'] == NULL ?'selected':''?>>Categoria</option>
						<option value="c" <?=$this->view->dados['categoria'] == 'c' ?'selected':''?>>Concessões</option>
						<option value="dm" <?=$this->view->dados['categoria'] == 'dm' ?'selected':''?>>Datacenter e Missão Crítica</option>
						<option value="ds" <?=$this->view->dados['categoria'] == 'ds' ?'selected':''?>>Defesa e Segurança</option>
						<option value="d" <?=$this->view->dados['categoria'] == 'd' ?'selected':''?>>Diversos</option>
						<option value="h" <?=$this->view->dados['categoria'] == 'h' ?'selected':''?>>Hospitais e Instituições de Saúde</option>
						<option value="m" <?=$this->view->dados['categoria'] == 'm' ?'selected':''?>>Manutenção e Facilities</option>
						<option value="t" <?=$this->view->dados['categoria'] == 't' ?'selected':''?>>Transportes</option>
					</select>
				</div>
				<div class="col-12 col-sm-3" style="margin-top: -19px;">
					<label class="fg-label" style="margin-top: -18px;font-size: .875rem !important;">Status do Projeto</label><br />
					<select name="status_projeto" id="tipo_rastreio" class="inputbox select" value="<?=$this->view->dados['status_projeto']?>">
						<option value="0" <?=$this->view->dados['status_projeto'] == NULL ?'selected':''?>>Status do Projeto</option>
						<option value="oc" <?=$this->view->dados['status_projeto'] == 'oc' ?'selected':''?>>Obra Concluída</option>
						<option value="oa" <?=$this->view->dados['status_projeto'] == 'oa' ?'selected':''?>>Obra em Andamento</option>
					</select>
				</div>
				<!-- <div class="col-12">
					<label class="label_tit">Texto</label>
					<div class="summer-editor">
						<textarea class='texto' name="texto-string"><?= htmlspecialchars_decode( @$this->view->dados['texto'])?></textarea>
					</div>
				</div> -->
			</div>

            <div class="row">
                <div class="col-12" >
                    <div class="tab-container">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#pt-2" role="tab">Português</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#en-2" role="tab">Inglês</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#es-2" role="tab">Espanhol</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade show" id="pt-2" role="tabpanel">
								<div class="row pt-3">
									<div class="col-12">
										<label class="fg-label mb-0">Título do Projeto (Português)</label>
										<div class="form-group form-group--float">
												<input type="text" name="titulo_pt-string" class="form-control fg-input required" value="<?=@$this->view->dados['titulo_pt']?>" onclick="$(this).removeClass('errorForm')">
											<i class="form-group__bar"></i>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-12">
										<label class="label_tit">Descrição - Texto de Introdução (Português)</label>
										<div class="summer-editor">
											<textarea class='texto' name="descricao_pt-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['descricao_pt']),"<br />");?></textarea>
										</div>
									</div>
								</div> -->
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Texto (Português)</label>
										<div class="summer-editor">
											<textarea class='texto' name="texto_pt-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['texto_pt']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                            <div class="tab-pane fade show" id="en-2" role="tabpanel">
								<div class="row">
									<div class="col-12 pt-3">
										<label class="fg-label mb-0">Título do Projeto (Inglês)</label>
										<div class="form-group form-group--float">
												<input type="text" name="titulo_en-string" class="form-control fg-input required" value="<?=@$this->view->dados['titulo_en']?>" onclick="$(this).removeClass('errorForm')">
											<i class="form-group__bar"></i>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-12">
										<label class="label_tit">Descrição - Texto de Introdução (Inglês)</label>
										<div class="summer-editor">
											<textarea class='texto' name="descricao_en-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['descricao_en']),"<br />");?></textarea>
										</div>
									</div>
								</div> -->
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Texto (Inglês)</label>
										<div class="summer-editor">
											<textarea class='texto' name="texto_en-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['texto_en']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                            <div class="tab-pane fade show" id="es-2" role="tabpanel">
								<div class="row">
									<div class="col-12 pt-3">
										<label class="fg-label mb-0">Título do Projeto (Espanhol)</label>
										<div class="form-group form-group--float">
												<input type="text" name="titulo_es-string" class="form-control fg-input required" value="<?=@$this->view->dados['titulo_es']?>" onclick="$(this).removeClass('errorForm')">
											<i class="form-group__bar"></i>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-12">
										<label class="label_tit">Descrição - Texto de Introdução (Espanhol)</label>
										<div class="summer-editor">
											<textarea class='texto' name="descricao_es-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['descricao_es']),"<br />");?></textarea>
										</div>
									</div>
								</div> -->
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Texto (Espanhol)</label>
										<div class="summer-editor">
											<textarea class='texto' name="texto_es-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['texto_es']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

			<div class="row pt-1">
				<div class="col-12 col-sm-12">
					<label class="fg-label" style="font-size: .875rem !important;">URL Personalizada</label>
					<div class="form-group form-group--float">
							<input type="text" name="url-string" class="form-control fg-input" value="<?= @$this->view->dados['url']?>" onclick="$(this).removeClass('errorForm')">
                        <i class="form-group__bar"></i>
                    </div>
				</div>
                <!-- <div class="col-12 col-sm-3">
                    <label class="fg-label" style="margin-bottom: 15px;font-size: .875rem !important;">Status</label>
                    <br />
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="s" <?= !isset($this->view->dados['status']) || @$this->view->dados['status'] == 's' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Publicado</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="n" <?=@$this->view->dados['status'] == 'n' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Despublicado</span>
                    </label>
                </div> -->
			</div>
			<div class="row pt-3">
				<div class="col-12 col-sm-6" style="margin-top: -19px;">
					<label class="fg-label" style="margin-top: -18px;font-size: .875rem !important;">Foto de Capa (Preferencialmente 1920x1080px)</label><br />
					<?php if( @$this->view->dados['foto'] ):
						$tam = getimagesize( RAIZ_SITE . "imagens/projetos/thumb/" . $this->view->dados['foto'] );?>
						<img style="max-width: 90%" src="../../../imagens/projetos/thumb/<?=$this->view->dados['foto']?>" >
						<button type="button" class="btn btn-danger waves-effect excluiImg" data-toggle="tooltip" data-placement="top" title="Excluir Imagem" style="position: absolute;margin-left: 5px;" data-foto="<?=$this->view->dados['foto']?>" data-idblog="<?=@$this->view->dados['id']?>">
							<i class="zmdi zmdi-delete" style="font-size: 14px !important;"></i>
						</button>
						<?php
					else:?>
						<input type="file" name="logo" class="form-control-file" aria-describedby="fileHelp">
						<?php
					endif;?>
				</div>
			</div>
			<div class="row pt-3">
				<div class="col-12 col-sm-6" style="margin-top: -19px;">
					<label class="fg-label" style="margin-top: -18px;font-size: .875rem !important;">Video do projeto</label><br />
					<?php if( @$this->view->dados['video'] ):
						// $tam = getimagesize( RAIZ_SITE . "imagens/videos/" . $this->view->dados['video'] );?>
						<video width="320" height="240" controls>
							<source src="../../../imagens/videos/<?=$this->view->dados['video']?>" type="video/mp4">
						</video>
						<button type="button" class="btn btn-danger waves-effect excluiVideo" data-toggle="tooltip" data-placement="top" title="Excluir Video" style="position: absolute;margin-left: 5px;" data-video="<?=$this->view->dados['video']?>" data-idblog="<?=@$this->view->dados['id']?>">
							<i class="zmdi zmdi-delete" style="font-size: 14px !important;"></i>
						</button>
						<?php
					else:?>
						<input type="file" name="video" class="form-control-file" aria-describedby="fileHelp">
						<?php
					endif;?>
				</div>
			</div>
			<div class="row pt-5">
				<div class="col-12 text-center">
					<button class="btn btn-gray btn-lg btn-icon-text waves-effect" id="btn-salvar"><i class="zmdi zmdi-floppy"></i> Salvar </button>
				</div>
			</div>
		</form>
	</div>
</div>
<?php if( @$this->view->dados['id'] ):?>
	<link rel="stylesheet" href="<?=BASE_SITE?>vendor/CRO/BaseAdmin/vendors/bower_components/dropzone/dist/dropzone.css">
	<script src="<?=BASE_SITE?>vendor/CRO/BaseAdmin/vendors/bower_components/dropzone/dist/dropzone.js"></script>

	<div class="card" id="cadastroFotos">
		<div class="card-header">
			<h3 class="text-center pb-5">Cadastro de Fotos</h3>
		</div>
		<div class="card-block">
			<form action="<?=BASE_SITE?>projetos/galeria" class="dropzone">
				<input type="hidden" name="id_projeto-num" value="<?=@$this->view->dados['id']?>" />
				<input type="hidden" name="nome-cond" value="<?=@$this->view->dados['projeto']?>" />
			</form>
		</div>
	</div>
	<?php if($this->view->galeria->num_rows):
		$iniEditor = array();?>
		<div class="card">
			<div class="card-header">
				<h3 class="text-center pb-5" id="temCadastrados">Galeria de fotos cadastradas</h3>
				<div class="col-12" style="padding-left:0 !important;padding-right:0 !important;">
					<div class="dd" id="nestable" style="max-width:100% !important;">
						<ol class="dd-list">
							<?php $ids = "";
							$qtd = $this->view->galeria->num_rows;
							foreach ($this->view->galeria as $f):
								$iniEditor[ $f['id'] ] = base64_encode( htmlspecialchars_decode( $f['descricao'], ENT_QUOTES ) );
								$img = '<button class="btn btn-success alterastatus tooltip-inverse" data-rel="tooltip" data-placement="top" title="Clique para Despublicar" id="n-'.$f['id'].'" style="cursor: pointer; width: 100%;">Publicado</button>';
								if ($f['status'] == "n")
									$img = '<button class="btn alterastatus tooltip-inverse" data-rel="tooltip" data-placement="top" title="Clique para Publicar" id="s-'.$f['id'].'" style="cursor: pointer; width: 100%;">Despublicado</button>';
								$ids .= $ids ? "|".$f['id'] : $f['id'];?>
								<li class="dd-item" data-id="<?=$f['id']?>">
									<?php if($qtd > 1)
									{?>
										<div class="dd-handle dd2-handle" id="<?=$f['id']?>" style="height:100%" title="Clique e arraste para alterar a ordem de exibi&ccedil;&atilde;o">
											<i class="normal-icon zmdi zmdi-swap-vertical" style="color:#888 !important; font-size: 22px;"></i>
											<i class="drag-icon zmdi zmdi-swap-vertical" style=" font-size: 22px;"></i>
										</div>
										<?php
									}?>
									<div class="dd2-content" style="font-weight: normal !important;">
										<div class="row">
											<div class="col-12 col-sm-1">
												<img class="preview" src="<?= RAIZ_SITE?>imagens/projetos/crop/<?=$f['foto']?>" style="max-width: 100%; cursor: pointer" data-src="<?= RAIZ_SITE?>imagens/projetos/large/<?=$f['foto']?>" data-legenda="" >
											</div>
											<div class="col-12 col-sm-8">
												<div class="summer-editor">
													<textarea class='descricao descricao-<?=$f['id']?>' data-id="<?=$f['id']?>">
														<?= htmlspecialchars_decode( $f['descricao'], ENT_QUOTES)?>
													</textarea>
												</div>
											</div>
											<div class="col-6 col-sm-2 text-center"><?= $img?></div>
											<div class="col-6 col-sm-1 text-center">
												<button type="button" class="btn btn-danger waves-effect exclui" data-texto="<?=$f['foto']?>" data-id="<?=$f['id']?>" data-toggle="tooltip" data-placement="top" title="Excluir">
													<i class="zmdi zmdi-delete"></i>
												</button>
											</div>
										</div>
									</div>
								</li>
								<?php
							endforeach;?>
						</ol>
					</div>
				</div>
			</div>
		</div>
	<?php
	endif;?>
	<script src="<?=BASE_SITE?>vendor/CRO/BaseAdmin/vendors/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
	<script type="text/javascript">
		$(function() {
			function notifica(){
                $.notify({
                    icon: '',
                    title: 'Auto Save',
                    message: ' - Descrição salva com sucesso!',
                    url: ''
                },{
                    element: 'body',
                    type: 'inverse',
                    allow_dismiss: true,
                    placement: {
                        from: 'bottom',
                        align: 'center'
                    },
                    offset: {
                        x: 20,
                        y: 20
                    },
                    spacing: 10,
                    z_index: 1031,
                    delay: 500,
                    timer: 1000,
                    url_target: '_blank',
                    mouse_over: false,
                    animate: {
                        enter: 'animated fadeInUp',
                        exit: 'animated fadeOutDown'
                    },
                    template:   '<div data-notify="container" class="alert alert-dismissible alert-{0} alert--notify" role="alert">' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '<button type="button" aria-hidden="true" data-notify="dismiss" class="alert--notify__close">Close</button>' +
                    '</div>'
                });
            };

			$(document).on("click",".exclui",function(d){
				var id = d.currentTarget.dataset.id;
				var nome = d.currentTarget.dataset.texto;

				var lista_de_ids = id;
				var titulo = "Excluir Imagem";
				var texto = 'Deseja realmente excluir essa imagem?<br><img style="max-width:100%" src="<?= RAIZ_SITE?>imagens/projetos/large/' + nome + '">';
				var tipo = "id";
				var txt_retorno = "A imagem";
				var txt_exc = "excluída";
				var caminho = ['../imagens/projetos/large', '../imagens/projetos/thumb', '../imagens/projetos/crop'];
				excluir_registro("<?=BASE_SITE?>",titulo,texto,"projetos_galeria",tipo,lista_de_ids,txt_retorno,txt_exc,"id",nome,caminho);
			});

			$('.dd').nestable({maxDepth:1});

			var pos_ordem = "<?=@$ids?>";
			var atualiza_id = "";
			$('.dd').nestable().on('change', function(e) {
				e.stopPropagation();
				atualiza_id = "";
				$(".dd-handle").each(function(index, element) {
					if(atualiza_id)
						atualiza_id += "|"+element['id'];
					else
						atualiza_id = element['id'];
				});

				if(atualiza_id != pos_ordem)
				{
					$.post("<?=BASE_SITE?>acoes/ordem", {
						id : atualiza_id,
						tabela: "projetos_galeria"

					}, function(data) {console.log(data)
						pos_ordem = atualiza_id;
					});
				}
			});

			$(".alterastatus").click(function() {
				var campo = $(this).attr("id").split("-");
				var status = campo[0];
				var id = campo[1];

				$.post("<?=BASE_SITE?>projetos/statusGaleria", {
						status: status,
						id: id

					}, function(data) {
						window.location.reload(true);
					}
				);
			});

			$(".preview").click(function(){
				var imagem = $(this).data("src");
				var legenda = $(this).data("legenda");
				legenda = legenda ? atob(legenda) : "";

				swal({
					//title: 'Sweet!',
					text: legenda,
					imageUrl: imagem,
					width: "875px",
					imageWidth: 800,
					padding: "20px"

				})		
			});

			function resetar( novoTexto, classe, controle ){
				var botoes = [
					['para', ['style', 'paragraph', 'ul', 'ol'] ],
					['style', ['bold', 'italic', 'underline', 'clear'] ],
					['font', ['strikethrough', 'superscript', 'subscript']],
					['insert', ['picture', 'link', 'video', 'table', 'hr'] ],
					['misc', ['fullscreen','codeview'] ]
				];
				if(classe.indexOf("texto") < 0) {
					botoes = [
						['style', ['bold', 'italic', 'underline', 'clear']],
						['misc', ['fullscreen', 'codeview']]
					];
				}

				var colou = false;
				var contador = 0;
				$("." + classe).summernote({
					lang: "pt-BR",
					disableDragAndDrop: true,
					toolbar: botoes,
					callbacks: {
						onPaste: function(e) {
							colou = true;
						},
						onChange: function(e) {
							console.log(e.length)
							if(colou)
							{
								console.log($(this))
								if(contador)
								{
									if(classe.indexOf("descricao") >= 0 && e.length > 150)
									{
										$.post("<?=BASE_SITE?>acoes/limpaTexto", {
											texto : e
										},function (data) {
											console.log(data);
											var txt = data.split(" ");
											console.log(txt)
											var novoTexto = "";
											for(x = 0; x < 25; x++ ){
												if(txt[x])
													novoTexto += novoTexto ? " " + txt[x] : "<p>" + txt[x];
											}
											novoTexto += "</p>"
											$("." + classe).summernote('destroy');
											resetar(novoTexto, classe, true)
										})
									}
									else
									{
										console.log(e)
										$.post("<?=BASE_SITE?>acoes/limpaTexto", {
											texto : e
										},function (data) {
											console.log(data);
											$("." + classe).summernote('destroy');
											resetar(data,classe, true)
										})
									}								
								}
								contador++;
							}
						},
						onInit:function () {
							if(novoTexto)
								$("." + classe).summernote('code', novoTexto);
							else
								$("." + classe).summernote('code', "");
							
							if(controle)
							{
								$.post("<?=BASE_SITE?>projetos/salvaDescricao", {
									"descricao-string" : novoTexto ? novoTexto : "",
									"id-cond" : $(this).data("id")
								},function (data) {
									notifica();
								});
							}
						},
						onImageUpload: function(files) {
							var titulo = $("input[name=titulo-string]").val();
							if(titulo) {
								var data = new FormData();
								data.append("file", files[0]);
								data.append("pagina", "noticias");
								data.append("titulo", titulo);
								$.ajax({
									data: data,
									type: "POST",
									url: "<?=BASE_SITE?>acoes/salvaImagem",
									cache: false,
									contentType: false,
									processData: false,
									success: function (url) {
										console.log(url)
										var imgNode = $('<img style="width: 100%">').attr("src", url)[0];
										$("." + classe).summernote('insertNode', imgNode);
									}
								});
							}
							else
								swal("Ops, a sua notícia ainda não tem título :(","O título da notícia será incluido no nome da imagem. Isso ajuda em um ranqueamento melhor no Google :)","warning");
						},
						onBlur: function(){
							console.log($(this))
							$.post("<?=BASE_SITE?>projetos/salvaDescricao", {
								"descricao-string" : $(this).val(),
								"id-cond" : $(this).data("id")
							},function (data) {
								notifica();
							})
						}
					}
				});

			}
			
			<?php if($iniEditor)
			{
				foreach($iniEditor as $i => $v):?>
					resetar( atob( "<?= $v?>" ), "descricao-<?= $i?>", false );
				<?php
				endforeach;
			}?>
			
		});
	</script>
<?php
endif;?>

<!-- Tags -->
<script src="<?=BASE_SITE?>vendor/CRO/BaseAdmin/js/tags/typeahead.js" ></script>
<script src="<?=BASE_SITE?>vendor/CRO/BaseAdmin/js/tags/bootstrap-tag.js" ></script>

<script type="text/javascript">
    $(function() {

        var tag_input = $('#form-field-tags');
        try {
            tag_input.tag(
                {
                    placeholder: tag_input.attr('placeholder')
                }
            )
        }
        catch (e) {
			// console.log(e);
			//display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
			//$('#form-field-tags').autosize({append: "\n"});
        };

        $("#validation-form").submit(function(){

            var retorna = true;

            var texto = "";

            if($("input[name='titulo-string']").val() == "")
            {
                texto += "* Titulo<br />";
                retorna = false;
            }
            if($("textarea[name=texto-string]").val() == "")
            {
                texto += "* Texto<br />";
                retorna = false;
            }

            if($("textarea[name=descricao-string]").val() == "")
            {
                texto += "* Descrição - Texto de Introdução<br />";
                retorna = false;
            }

            if ($("input[name=logo]").val() == "")
            {
                texto += "* Foto de Capa<br />";
                retorna = false;
            }

            if(retorna == false)
                swal("Opa! Os campos abaixo são obrigatórios:<br /><br />", texto, "warning");
			else
				$("#btn-salvar").attr("disabled",true)
            // console.log(retorna)
            return retorna;
        });
		
		$(".dataPicker").flatpickr({
            defaultDate:"<?= @$this->view->dados['data'] ? date("d/m/Y", strtotime( $this->view->dados['data'] ) ) : date("d/m/Y")?>",
            dateFormat: "d/m/Y",
            locale: "pt"
            // minDate: "today"
        });

        $(".excluiImg").click(function () {
            var imagem = $(this).data("foto");
            var idblog = $(this).data("idblog");
            swal({
                title: 'Foto de Capa!',
                html: '<img width="100%" src="../../../imagens/projetos/thumb/' + imagem + '" ><br>Deseja realmente excluir essa imagem?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Não, cancelar'
            }).then(function () {
                $.post("<?=BASE_SITE?>projetos/excImg", {
                        imagem: imagem,
                        id: idblog

                    }, function(data) {
                        // console.log(data);
                        swal({
                            title: 'Foto excluída!',
                            text: "Agora você pode cadastrar uma nova foto de capa.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: ' Ok '
                        }).then(function () {
                            location.href = window.location;
                        })
                    }
                );
            })
        });

		$(".excluiVideo").click(function () {
            var imagem = $(this).data("video");
            var idblog = $(this).data("idblog");
            swal({
                title: 'Video do Projeto!',
                html: 'Deseja realmente excluir esse video?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Não, cancelar'
            }).then(function () {
                $.post("<?=BASE_SITE?>projetos/excVideo", {
                        imagem: imagem,
                        id: idblog

                    }, function(data) {
                        // console.log(data);
                        swal({
                            title: 'Video excluído!',
                            text: "Agora você pode cadastrar um novo video do projeto.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: ' Ok '
                        }).then(function () {
                            location.href = window.location;
                        })
                    }
                );
            })
        });
		
		$("input[name=url-string]").blur(function(){
			var url = $(this).val();
			if(url)
			{
                $.post("<?=BASE_SITE?>projetos/checkUrl", {
                        url: url,
                        id: <?=@$this->view->dados['id'] ? 'parseInt("' . @$this->view->dados['id'] . '")' : 0?>

				}, function(data) {
					if( parseInt(data) )
					{
						swal("URL inválida","A URL &ldquo;" + url + "&rdquo; já está sendo usada em outro projeto<br><br>Utilize uma nova URL Personalizada.", "warning");
						$("input[name=url-string]").val("");
					}
				});
			}
		})

		$("input[name=titulo_pt-string]").blur(function(){
			var titulo = $(this).val();
			if(titulo)
			{
                $.post("<?=BASE_SITE?>projetos/geraUrl", {
                        titulo: titulo,
                        id: <?=@$this->view->dados['id'] ? 'parseInt("' . @$this->view->dados['id'] . '")' : 0?>

				}, function(data) {
					$("input[name=url-string]").val(data);
				});
			}
		})

        function resetar( novoTexto, classe ){
            var botoes = [
                ['para', ['style', 'paragraph', 'ul', 'ol'] ],
                ['style', ['bold', 'italic', 'underline', 'clear'] ],
				['font', ['strikethrough', 'superscript', 'subscript']],
                ['insert', ['picture', 'link', 'video', 'table', 'hr'] ],
                ['misc', ['fullscreen','codeview'] ]
            ];
            if(classe.indexOf("texto") < 0) {
                botoes = [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['misc', ['fullscreen', 'codeview']]
                ];
            }

            var colou = false;
            var contador = 0;
            $("." + classe).summernote({
                lang: "pt-BR",
                disableDragAndDrop: true,
                toolbar: botoes,
				styleTags: ['p', 'h2', 'h3'],
                callbacks: {
                    onPaste: function(e) {
                        colou = true;
                    },
                    onChange: function(e) {
						// console.log(e.length)
                        if(colou)
                        {
                            if(contador)
                            {
								if(classe.indexOf("descricao") >= 0 && e.length > 257)
								{
									$.post("<?=BASE_SITE?>acoes/limpaTexto", {
										texto : e
									},function (data) {
										var txt = data.split(" ");
										var novoTexto = "";
										var contador = 0;
										for(x = 0; x < txt.length; x++ ){
											var cont = txt[x].length;
											contador += cont + 1;
											if( contador < 256 )
												novoTexto += novoTexto ? " " + txt[x] : txt[x];
											else
												break;
										}
										//novoTexto += "</p>"
										$("." + classe).summernote('destroy');
										resetar(novoTexto, classe)
									})
								}
								else
								{
									// console.log(e)
									$.post("<?=BASE_SITE?>acoes/limpaTexto", {
										texto : e
									},function (data) {
										// console.log(data);
										$("." + classe).summernote('destroy');
										resetar(data,classe)
									})
								}								
                            }
                            contador++;
                        }
						else if(classe.indexOf("descricao") >= 0 && e.length > 257)
						{
							$.post("<?=BASE_SITE?>acoes/limpaTexto", {
								texto : e
									},function (data) {
										var txt = data.split(" ");
										var novoTexto = "";
										var contador = 0;
										for(x = 0; x < txt.length; x++ ){
											var cont = txt[x].length;
											contador += cont + 1;
											if( contador < 256 )
												novoTexto += novoTexto ? " " + txt[x] : txt[x];
											else
												break;
										}
										//novoTexto += "</p>"
										$("." + classe).summernote('destroy');
										resetar(novoTexto, classe)
									})
						}
                    },
                    onInit:function () {
                        if(novoTexto)
                            $("." + classe).summernote('code', novoTexto);
						<?php if( !isset($this->view->dados['id']) ):?>
						else
							$("." + classe).summernote('code', "");
						<?php
						endif;?>
                    },
                    onImageUpload: function(files) {
                        var titulo = $("input[name=titulo-string]").val();
                        if(titulo) {
                            var data = new FormData();
                            data.append("file", files[0]);
                            data.append("pagina", "projetos");
                            data.append("titulo", titulo);
                            $.ajax({
                                data: data,
                                type: "POST",
                                url: "<?=BASE_SITE?>acoes/salvaImagem",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (url) {
                                    // console.log(url)
                                    var imgNode = $('<img style="width: 100%">').attr("src", url)[0];
                                    $("." + classe).summernote('insertNode', imgNode);
                                }
                            });
                        }
                        else
                            swal("Ops, o seu projeto ainda não tem título :(","O título do projeto será incluido no nome da imagem. Isso ajuda em um ranqueamento melhor no Google :)","warning");
                    }
                }
            });

        }
        resetar("","texto");
        resetar("","descricao");

    });
</script>
