.imageBox
{
    margin-bottom: 10px;
    position: relative;
    width: 368px;
    height: 508px;
    border: 2px solid #0d1f51;
    background: transparent;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
    float: left;
    border-radius: 5px;
}

.imageBox .thumbBox
{
    position: absolute;
    width: 318px;
    height: 458px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1000px rgba(13, 31, 81, 0.8);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .cropped img{
    border-radius: 50%;
    border: 10px solid #0d1f51;
    margin-bottom: 10px;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}

.box_post .campofile{
    background: #EEE;
    border-radius: 5px;
    border: 2px solid #0d1f51;
    width: 100%;
    padding: 10px;
}

#btnSalvar{
    display: none;
    left: 30px;
}

.action{
    text-align: center;
}
.action .fa{
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
}
.action .fa:hover{
    color: #FFF;
    transition: all 1s;
}
.action .btn-primary {
    padding: 5px 10px 5px 10px !important;
    height: 30px;
    font-size: 14px !important;
    margin-top: 20px;
}

.btn-primary:hover {
    background: #000;
    transition: all 1s;
}


.imageBoxCapa
{
    margin-bottom: 10px;
    position: absolute;
    height: 360px;
    width: 1030px;
    background: #C00;
    background: transparent;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: normal;
    float: left;
    border-radius: 0;
}

.imageBoxCapa .thumbBoxCapa
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 0;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    background: #000 repeat scroll 0% 0% transparent;
}

.croppedCapa{
    background: #000;
    position: absolute;
}
.croppedCapa img{
    border-radius: 0%;
    border: 10px solid #0d1f51;
    margin-bottom: 10px;
}
.actionCapa{
    position: absolute;
    z-index: 1;
    text-align: left;
    margin: 0 0 0 0;
    padding: 10px 10px;
    width: 50%;
}
.actionCapa .btn-primary{
    padding: 3px 10px 5px 10px;
    height: 30px;
}
.actionCapa .painel{
    float: right;
    margin-left: 20px;
    display: none;
}

.actionCapa .fa{
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    margin-top: 0;
}
.actionCapa .fa:hover{
    color: #FFF;
    transition: all 1s;
}
.actionCapa .btn_trocacapa{
    color: rgba(255,255,255,1);
    font-size: 30px !important;
    cursor: pointer;
}
.actionCapa .btn_trocacapa:hover{
    color: #0d1f51;
}

.btn_trocaperfil{
    color: rgba(255,255,255,1);
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    bottom: 80px;
    margin-left: -15px;
    opacity: 0;
}
.btn_trocaperfil:hover{
    color: #0d1f51;
}

.profile-info:hover .btn_trocaperfil{
    opacity: 1;
}

.painel .instrucao{
    background: rgba(0,0,0,0.7);
    position: relative;
    float: right;
    border: 1px solid #DDD;
    color: #FFF;
    font-size: 14px;
    margin: 0 auto;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
}

