<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-12 col-sm-6">
				<button class="btn bgm-gray btn-lg btn_novo waves-effect" onclick="location.href='<?=BASE_SITE?>projetos/cadastrar'">
					<i class="zmdi zmdi-collection-text"></i>
					Novo Projeto
				</button>
				&nbsp;
				<button class="btn btn-danger btn-lg btn_excluir_selecionados waves-effect hidden-xs-up">
					<i class="zmdi zmdi-delete"></i>
					Excluir Selecionados
				</button>
			</div>
            <div class="col-12 col-sm-6 pull-right">
                <form action="" method="post" id="pesquisa_int">
                    <div class="input-group">
                        <div class="form-group form-group--float">
							<input type="text" class="form-control fg-input" name="pesquisar" value="<?=@$_POST['pesquisar']?>">
							<label class="fg-label">Pesquisar</label>
							<i class="form-group__bar"></i>
                        </div>
                        <span class="input-group-addon last btn-pesquisa" style="cursor: pointer;"><i class="zmdi zmdi-search "></i></span>
                    </div>
                </form>
            </div>
		</div>
	</div>
</div>
<div class="card">
    <div class="card-header">
		<div class="table-responsive">
            <table id="data-table-basic" class="table table-bordered">
				<thead>
				<tr>
					<th style="width: 5% !important; text-align: center;" >
                        <label class="checkbox m-0" data-toggle="tooltip" data-placement="right" title="Selecionar todos">
                            <input type="checkbox" />
                            <i class="input-helper"></i>
                        </label>
                    </th>
					<th>Título</th>
					<th>Cliente</th>
					<th width="12%">Status</th>
					<th width="12%">Ações</th>
				</tr>
				</thead>
				<tbody>
                <?php 
                
                foreach ($this->view->dados as $f):
					$img = '<button class="btn btn-success alterastatus tooltip-inverse" data-rel="tooltip" data-placement="top" title="Clique para Despublicar" id="n-'.$f['id'].'" style="cursor: pointer; width: 100%;">Publicado</button>';
					if ($f['status'] == "n")
						$img = '<button class="btn alterastatus tooltip-inverse" data-rel="tooltip" data-placement="top" title="Clique para Publicar" id="s-'.$f['id'].'" style="cursor: pointer; width: 100%;">Despublicado</button>';?>
					<tr>
						<td valign="middle">
							<label class="checkbox m-0">
								<input type="checkbox" name="registros[]" value="<?=$f['id']?>" />
								<i class="input-helper"></i>
							</label>
						</td>
						<td valign="middle"><?=$f['titulo_pt']?></td>
						<td valign="middle"><?=$f['cliente']?></td>
						<td><?=$img?></td>
						<td align="center">
							<button class="btn bgm-gray waves-effect" data-toggle="tooltip" data-placement="top" title="Editar" onclick="location.href='<?=BASE_SITE?>projetos/cadastrar/<?=$f['id']?>'">
								<i class="zmdi zmdi-edit"></i>
							</button>

							<button class="btn btn-danger waves-effect exclui" data-texto="<?=$f['titulo_pt']?>" data-id="<?=$f['id']?>" data-toggle="tooltip" data-placement="top" title="Excluir">
								<i class="zmdi zmdi-delete"></i>
							</button>
						</td>
					</tr>
					<?php
				endforeach;?>
				</tbody>
			</table>
		</div>
		<?php include('App/Views/includes/paginacao.phtml');?>
	</div>
</div>

<script type="text/javascript">
    $(function() {
        var tabela = "projetos";
        var coluna = "id";

         $(document).on("click",".exclui",function(d){
			 	var id = d.currentTarget.dataset.id;
			 	var noticia = d.currentTarget.dataset.texto;
			 
                var lista_de_ids = id;
                var titulo = "Excluir Projeto";
                var texto = "Deseja realmente excluir o projeto \"" + noticia + "\"?";
                var tipo = "id";
                var txt_retorno = "O projeto " + noticia;
                var txt_exc = "excluído";
                excluir_registro("<?=BASE_SITE?>",titulo,texto,tabela,tipo,lista_de_ids,txt_retorno,txt_exc,coluna);
        });

         $(document).on("click", "tbody input:checkbox", function(){
            var count = 0;

            $('#data-table-basic tbody :checkbox:checked').each(function(i){
                count++;
            });

            if(count == 0)
                $(".btn_excluir_selecionados").addClass("hidden-xs-up");
            else
                $(".btn_excluir_selecionados").removeClass("hidden-xs-up");
        });

        $(document).on('click', 'th input:checkbox' , function(){
            var count = 0;

            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox').each(function(){
                this.checked = that.checked;

                //$(this).closest('tr').toggleClass('selected');
                if($(this).is(":checked"))
                    count++;
            });

            if(count == 0)
                $(".btn_excluir_selecionados").addClass("hidden-xs-up");
            else
                $(".btn_excluir_selecionados").removeClass("hidden-xs-up");
        });

        $(".btn_excluir_selecionados").click(function(){
            var array_de_ids = Array();

            $('#data-table-basic tbody :checkbox:checked').each(function(i){
                array_de_ids.push($(this).val());
            });

            var lista_de_ids = array_de_ids.join();
            var titulo = "Excluir Projetos";
            var texto = "Deseja realmente excluir os projetos selecionados?";
            var tipo = "idstoarray";//todos os ids foram convertidos em um array
            var txt_retorno = "Os projetos";
            var txt_exc = "excluídas";
            excluir_registro("<?=BASE_SITE?>",titulo,texto,tabela,tipo,lista_de_ids,txt_retorno,txt_exc,coluna);
        });

        $(".alterastatus").click(function() {
            var campo = $(this).attr("id").split("-");
            var status = campo[0];
            var id = campo[1];

            $.post("<?=BASE_SITE?>projetos/status", {
                    status: status,
                    id: id

                }, function(data) {
                    location.href = window.location;
                }
            );

        });

        <?php if(isset($this->view->retorno)):?>
        swal("<?=$this->view->retorno == "ok" ? "Sucesso" : "Opa! Alguma coisa está errada" ?>", "<?=$this->view->retorno == "ok" ? "O projeto foi cadastrado/editado com sucesso :D" : "Ocorreu um erro ao cadastrar/editar o projeto ;(" ?>", "<?=$this->view->retorno == "ok" ? "success" : "warning" ?>")
        <?php
        endif;?>

    } );
</script>
