<div class="card">
	<div class="card-header">
		<h3 class="text-center pb-5">Cadastro de Clientes</h3>
		<form class="form-horizontal" action="<?=BASE_SITE?>clientes/cadastro" method="post" enctype="multipart/form-data" id="validation-form">
			<input type="hidden" name="id-cond" value="" />
			<div class="row">
				<div class="col-12 col-sm-5">
					<div class="form-group form-group--float">
							<input type="text" name="nome-string" class="form-control fg-input required" value="" onclick="$(this).removeClass('errorForm')">
							<label class="fg-label">Cliente</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
				<div class="col-12 col-sm-4" style="margin-top: -19px;">
					<label class="fg-label" style="margin-top: -18px;font-size: .875rem !important;">Logo</label><br />
					<input type="file" name="logo" class="form-control-file" aria-describedby="fileHelp">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-12 col-sm-4" style="margin-top: -19px;">
					<label class="fg-label" style="margin-top: -18px;font-size: .875rem !important;">Categoria</label><br />
					<select id="tipo_rastreio" name="categoria-string" class="inputbox select" style="max-width: 100%;">
						<option value="0">Categoria</option>
						<option value="h">Hospitais e Instituições de Saúde</option>
						<option value="d">Defesa e Segurança</option>
						<option value="t">Transportes</option>
						<option value="cc">Concessões</option>
						<option value="mf">Manutenção e Facilities</option>
						<option value="dc">Datacenter e Missão Crítica</option>
						<option value="b">Bancos e Instituições Financeiras</option>
						<option value="i">Instituições de Ensino</option>
						<option value="o">Órgãos Judiciais</option>
						<option value="p">Prefeituras</option>
						<option value="c">Concessionárias de Serviços</option>
						<option value="s">Segmentos Diversos</option>
					</select>
				</div>
				<div class="col-12 col-sm-3"style="margin-top: -19px;">
					<label class="fg-label" style="margin-bottom: 15px;font-size: .875rem !important;">Status</label>
					<br />
					<label class="custom-control custom-radio">
						<input type="radio" name="status-string" value="s" checked class="custom-control-input" >
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Ativo</span>
					</label>
					<label class="custom-control custom-radio">
						<input type="radio" name="status-string" value="n" class="custom-control-input" >
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Inativo</span>
					</label>
				</div>
			</div>
			
			<div class="row pt-5">
				<div class="col-12 text-center">
					<button type="submit" id="btn-submit" class="btn btn-gray btn-lg btn-icon-text waves-effect"><i class="zmdi zmdi-floppy"></i> Salvar </button>
					<div class="text-center w-100 carregando">
						<div class="page-loader__spinner " style="position: inherit !important;">
							<svg viewBox="25 25 50 50" style="top: 25px !important;">
								<circle cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
							</svg>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<?php if($this->view->dados->num_rows):?>
	<div class="card">
		<div class="card-header">
			<h3 class="text-center pb-5" id="temCadastrados">Clientes Cadastrados</h3>
			<div class="table-responsive">
				<table id="data-table-basic" class="table table-bordered">
					<thead>
					<tr>
						<th>Cliente</th>
						<th width="12%">Status</th>
						<th width="80px">Excluir</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($this->view->dados as $f):
						$img = '<button class="btn btn-success alterastatus tooltip-inverse" data-rel="tooltip" data-placement="top" title="Clique para Despublicar" id="n-'.$f['id'].'" style="cursor: pointer; width: 110px;">Publicado</button>';
						if ($f['status'] == "n")
							$img = '<button class="btn alterastatus tooltip-inverse" data-rel="tooltip" data-placement="top" title="Clique para Publicar" id="s-'.$f['id'].'" style="cursor: pointer; width: 110px;">Despublicado</button>';?>
						<tr>
							<td>
								<form class="form-horizontal" action="<?=BASE_SITE?>clientes/cadastro" method="post" enctype="multipart/form-data" id="validation-form-<?= $f['id']?>">
									<input type="hidden" name="id-cond" value="<?= $f['id']?>" />
									<div class="row">
										<div class="col-12 col-sm-5 mt-3 mt-sm-0">
											<label class="fg-label" style="font-size: .875rem !important;">Logo</label><br />
											<?php if( @$f['logo'] ):?>
												<img src="<?= RAIZ_SITE?>imagens/clientes/<?=$f['logo']?>" style="max-width: 80%; max-height: 75px;" >
												<button type="button" class="btn btn-danger waves-effect excluiImg float-right" data-toggle="tooltip" data-placement="top" title="Excluir Imagem" data-foto="<?=$f['logo']?>" data-idblog="<?=@$f['id']?>">
													<i class="zmdi zmdi-delete" style="font-size: 14px !important;"></i>
												</button>
												<?php
											else:?>
												<input type="file" name="logo" class="form-control-file" aria-describedby="fileHelp">
												<?php
											endif;?>
										</div>
										<div class="col-12 col-sm-4">
											<div class="form-group form-group--float" style="margin-top: 16px !important; margin-bottom: 0 !important;">
													<input type="text" name="nome-string" class="form-control fg-input required" value="<?= $f['nome']?>" onclick="$(this).removeClass('errorForm')">
													<label class="fg-label">Cliente</label>
												<i class="form-group__bar"></i>
											</div>
										</div>
										<div class="col-12 col-sm-3">
											<label class="fg-label" style="font-size: .875rem !important;">Categoria</label><br />
											<select name="categoria-string" id="tipo_rastreio" class="inputbox select" value="<?=$f['categoria']?>" style="max-width: 100%;">
												<option value="0" <?=$f['categoria'] == NULL ?'selected':''?>>Categoria</option>
												<option value="h" <?=$f['categoria'] == 'h' ?'selected':''?>>Hospitais e Instituições de Saúde</option>
												<option value="d" <?=$f['categoria'] == 'd' ?'selected':''?>>Defesa e Segurança</option>
												<option value="t" <?=$f['categoria'] == 't' ?'selected':''?>>Transportes</option>
												<option value="cc" <?=$f['categoria'] == 'cc' ?'selected':''?>>Concessões</option>
												<option value="mf" <?=$f['categoria'] == 'mf' ?'selected':''?>>Manutenção e Facilities</option>
												<option value="dc" <?=$f['categoria'] == 'dc' ?'selected':''?>>Datacenter e Missão Crítica</option>
												<option value="b" <?=$f['categoria'] == 'b' ?'selected':''?>>Bancos e Instituições Financeiras</option>
												<option value="i" <?=$f['categoria'] == 'i' ?'selected':''?>>Instituições de Ensino</option>
												<option value="o" <?=$f['categoria'] == 'o' ?'selected':''?>>Órgãos Judiciais</option>
												<option value="p" <?=$f['categoria'] == 'p' ?'selected':''?>>Prefeituras</option>
												<option value="c" <?=$f['categoria'] == 'c' ?'selected':''?>>Concessionárias de Serviços</option>
												<option value="s" <?=$f['categoria'] == 's' ?'selected':''?>>Segmentos Diversos</option>
											</select>
										</div>
										<div class="col-12 col-sm-12">
										<br>
											<div class="text-center">
												<button type="submit" id="btn-submit" class="btn btn-gray btn-lg btn-icon-text waves-effect"><i class="zmdi zmdi-floppy"></i> Salvar </button>
												<div class="text-center w-100 carregando">
													<div class="page-loader__spinner " style="position: inherit !important;">
														<svg viewBox="25 25 50 50" style="top: 25px !important;">
															<circle cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10" />
														</svg>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</td>
							<td align="center" valign="middle"><?=$img?></td>
							<td align="center" valign="middle">
								<button class="btn btn-danger waves-effect exclui" data-texto="<?=$f['nome']?>" data-id="<?=$f['id']?>" data-toggle="tooltip" data-placement="top" title="Excluir">
									<i class="zmdi zmdi-delete"></i>
								</button>
							</td>
						</tr>
						<?php
					endforeach;?>
					</tbody>
				</table>
			</div>
			<?php include('App/Views/includes/paginacao.phtml');?>
		</div>
	</div>
<?php
endif;?>
<script type="text/javascript">
    $(function() {

        $(".carregando").hide();
		$(".form-horizontal").submit(function(){
			var idform = $(this).attr("id");

            var retorna = true;

            var texto = "";

            if($("#" + idform + " input[name='nome-string']").val() == "")
            {
                texto += "* Cliente<br />";
                retorna = false;
            }

            if ($("#" + idform + " input[name=logo]").val() == "")
            {
                texto += "* Logo<br />";
                retorna = false;
            }

            if(retorna == false)
                swal("Opa! Os campos abaixo são obrigatórios:<br /><br />", texto, "warning");
            console.log(retorna)
			if(retorna)
			{
				$("#" + idform + " .carregando").show();
				$("#" + idform + " #btn-submit").attr("disabled",true);
			}
            return retorna;
        });
		
		$(".salva-edicao").click(function(){
			var id = $(this).attr("id").split("-").pop();
			$("#validation-form-" + id).submit();
		})
		

        $(".excluiImg").click(function () {
            var imagem = $(this).data("foto");
            var idblog = $(this).data("idblog");
            swal({
                title: 'Excluir Logo!',
                html: 'Deseja realmente excluir esse logo?<br><img src="<?= RAIZ_SITE?>imagens/clientes/' + imagem + '" style="max-width: 80%; max-height: 75px;" >',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Não, cancelar'
            }).then(function () {
                $.post("<?=BASE_SITE?>clientes/excImg", {
                        imagem: imagem,
                        id: idblog

                    }, function(data) {
                        console.log(data);
                        swal({
                            title: 'Logo excluído!',
                            text: "Agora você pode cadastrar um novo logo.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: ' Ok '
                        }).then(function () {
                            window.location.reload(true);
                        })
                    }
                );
            })
        });

        var tabela = "clientes";
        var coluna = "id";

         $(document).on("click",".exclui",function(d){
			 	var id = d.currentTarget.dataset.id;
			 	var nome = d.currentTarget.dataset.texto;
			 
                var lista_de_ids = id;
                var titulo = "Excluir Cliente";
                var texto = 'Deseja realmente excluir o cliente "' + nome + '"?';
                var tipo = "id";
                var txt_retorno = "O cliente " + nome;
                var txt_exc = "excluído";
                excluir_registro("<?=BASE_SITE?>",titulo,texto,tabela,tipo,lista_de_ids,txt_retorno,txt_exc,coluna);
        });

        $(".alterastatus").click(function() {
            var campo = $(this).attr("id").split("-");
            var status = campo[0];
            var id = campo[1];

            $.post("<?=BASE_SITE?>clientes/status", {
                    status: status,
                    id: id

                }, function(data) {
                    location.href = window.location;
                }
            );

        });

		

    });
</script>
