    <div class="row quick-stats">
	<div class="col-sm-6 col-md-3">
		<div class="quick-stats__item bg-light-blue">
			<div class="quick-stats__info">
				<h2 class="pb-1"><?= isset( $this->view->analytics['sessions'] ) ? $this->view->analytics['sessions'] : ""?></h2>
				<small>Total de Acessos (30 dias)</small>
			</div>

			<div class="quick-stats__chart "></div>
		</div>

		<div class="quick-stats__chart "></div>
	</div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-amber">
            <div class="quick-stats__info">
                <h2 id="maiorCidade30"></h2>
                <small id="maiorCidadeDesc30">Principal Cidade (30 dias)</small>
            </div>

            <div class="quick-stats__chart sparkline-bar-cidade30"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-purple">
            <div class="quick-stats__info">
                <h2 id="maiorOrigemAcessos30"></h2>
                <small id="maiorOrigemAcessosDesc30">Principal Origem (30 dias)</small>
            </div>

            <div class="quick-stats__chart sparkline-bar-OrigemAcessos30"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-red">
            <div class="quick-stats__info">
                <h2 id="maiorDispositivo30"></h2>
                <small id="maiorDispositivoDesc30">Principal Dispositivo (30 dias)</small>
            </div>

            <div class="quick-stats__chart sparkline-bar-Dispositivo30"></div>
        </div>
    </div>
</div>
<!-- 
<div class="row d-flex align-items-stretch justify-content-between">
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-header">
                <h2 class="card-title">Contatos por Assunto nos últimos 30 dias</h2>
            </div>

            <div class="card-block">
                <div class="flot-chart flot-pie30"></div>
                <div class="exb-legenda legend-pie30 invisible w-100 text-center font-weight-bold mt-3" style="position: absolute;
                left: 0;"></div>
                <div class="flot-chart-legends flot-chart-legend--pie30 mt-5"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-header">
                <h2 class="card-title">Contatos por Estado nos últimos 30 dias</h2>
            </div>

            <div class="card-block">
                <div class="flot-chart flot-pieEstado"></div>
                <div class="exb-legenda legend-pieEstado invisible w-100 text-center font-weight-bold mt-3" style="position: absolute;
                left: 0;"></div>
                <div class="flot-chart-legends flot-chart-legend--pieEstado mt-5"></div>
            </div>
        </div>
    </div>
</div> -->
<div class="row" id="graf30">
    <div class="col-12">
        <div class="card w-100">
            <div class="card-header">
                <h2 class="card-title">Contatos por dia nos últimos 30 dias</h2>
            </div>

            <div class="card-block">
                <div class="flot-chart flot-line30"></div>
                <div class="flot-chart-legends flot-chart-legends--line30"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        function graficoLinha(classe,data,classeLegenda) {
            $.plot(classe, [ data ], {
                series: {
                    lines: {
                        show: true,
                        barWidth: 0.05,
                        fill: 0
                    }
                },
                shadowSize: 0.1,
                grid: {
                    borderWidth: 1,
                    borderColor: '#edf9fc',
                    show: true,
                    hoverable: true,
                    clickable: true,
                    autoHighlight: true,
					girdLineColor: "#ff00ff"
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0
                },
                yaxis: {
                    tickDecimals: 0
                },
                legend: {
                    container: classeLegenda,
                    backgroundOpacity: 0.5,
                    noColumns: 0,
                    backgroundColor: '#fff',
                    lineWidth: 0,
                    labelBoxBorderColor: '#fff'
                }
            });
        }

        var data7 = [
            <?php $contador = 0;
            //$this->view->start7 . "<br>" . $this->view->end7
            $start = $this->view->start7;
            do{
            $start = strtotime('+1 day',$start);
            $compara = date("d/m", $start);

            if( array_key_exists($compara,$this->view->lista7) ):?>
            ,["<?=$compara?>", <?=$this->view->lista7[$compara]['total']?>]
            <?php
            else:?>
            ,["<?=$compara?>", 0]
            <?php
            endif;

            }while($start <= $this->view->end7);?>
        ]
        var dataSet7 = {label: 'Contatos/Dia - últimos 7 dias', data: data7,color: '<?= COR_SITE?>'};
        graficoLinha(".flot-line",dataSet7,'.flot-chart-legends--line');

        var largura = window.innerWidth;
        if(largura >= 1000)
        {
            var data30 = [
                <?php $contador = 0;
                //$this->view->start30 . "<br>" . $this->view->end30
                $start = $this->view->start30;
                do{
                $start = strtotime('+1 day',$start);
                $compara = date("d/m", $start);
                $soDia = @array_shift( @explode( "/", $compara ) );?>

                <?php if( array_key_exists($compara,$this->view->lista30) ):?>
                ,[ largura < 1200 ? "<?=$soDia?>" : "<?=$compara?>", <?=$this->view->lista30[$compara]['total']?>]
                <?php
                else:?>
                ,[ largura < 1200 ? "<?=$soDia?>" : "<?=$compara?>", 0]
                <?php
                endif;

                }while($start <= $this->view->end30);?>
            ]
            var dataSet30 = {label: 'Contatos/Dia - últimos 30 dias', data: data30,color: '<?= COR_SITE?>'};
            graficoLinha(".flot-line30",dataSet30,'.flot-chart-legends--line30');
        }
        else
            $("#graf30").hide();

        function graficoPizza(classe,data,classeLegenda) {
            $.plot(classe, data, {
                series: {
                    pie: {
                        show: true,
                        stroke: {
                            width: 2
                        }
                    }
                },
                grid : {
                    hoverable : true,
                },
                legend: {
                    container: classeLegenda,
                    backgroundOpacity: 0.5,
                    noColumns: 2,
                    backgroundColor: "white",
                    lineWidth: 10,
                    labelBoxBorderColor: '#fff'
                }
            });
        }

        <?php if($this->view->listaCont7):?>
            var pieData = [
                <?php $addComma = 0;
                foreach ($this->view->listaCont7 as $f):?>
                <?= $addComma ? "," : "";?>
                {data: <?= $f['total']?>, label: '<?= assuntos( $f["tipo"] )?>'}
                <?php
                $addComma++;
                endforeach;?>
            ];
            graficoPizza(".flot-pie",pieData,".flot-chart-legend--pie");
        <?php
        endif;

        if($this->view->listaCont30):?>
            var pieData30 = [
                <?php $addComma = 0;
                foreach ($this->view->listaCont30 as $f):?>
                <?= $addComma ? "," : "";?>
                {data: <?= $f['total']?>, label: '<?= assuntos( $f["tipo"] )?>'}
                <?php
                $addComma++;
                endforeach;?>
            ];
            graficoPizza(".flot-pie30",pieData30,".flot-chart-legend--pie30");
        <?php
        endif;

        if($this->view->listaEstado):?>
            var pieDataEstado = [
                <?php $addComma = 0;
                foreach ($this->view->listaEstado as $f):?>
                <?= $addComma ? "," : "";?>
                {data: <?= $f['total']?>, label: '<?= $f["estado"]?>'}
                <?php
                $addComma++;
                endforeach;?>
            ];
            graficoPizza(".flot-pieEstado",pieDataEstado,".flot-chart-legend--pieEstado");
        <?php
        endif;?>

        $(".flot-chart").bind("plothover", function (event, pos, item) {
            if(item)
            {
                var classe = $(this)["0"].className.split(" ").pop();
                console.log(item)
                if(classe == "flot-line" || classe == "flot-line30")
                {
                    var contato = parseInt(item.datapoint[1]) > 1 ? " contatos" : " contato";
                    $('.flot-tooltip').html( item.series.data[ (item.datapoint[0] + 1) ]["0"] + " - "  + item
                        .datapoint[1] + contato ).css({top: item.pageY+5, left: item.pageX+5}).show();
                    $('.legend-pie').empty().addClass("invisible")
                }
                else if(classe == "flot-pie" || classe == "flot-pie30" || classe == "flot-pieEstado")
                {
                    var classeLeg = ".legend-pie";
                    if(classe == "flot-pie30")
                        classeLeg = ".legend-pie30";
                    else if(classe == "flot-pieEstado")
                        classeLeg = ".legend-pieEstado";

                    var contato = parseInt(item.series.datapoints.points[1]) > 1 ? " contatos" : " contato";
                    $(classeLeg).empty().html( item.series.label + " - " + item.series.datapoints.points[1] +
                        contato
                    ).removeClass("invisible");
                    console.log(item.series.label + "<br>" + item.series.datapoints.points[1] + contato)
                }
            }
            else
            {
                $('.exb-legenda').empty().addClass("invisible")
                $('.flot-tooltip').hide();
            }
        });
        $('<div class="flot-tooltip"></div>').appendTo('body');

        $.post("<?=BASE_SITE?>analytics", {


            }, function(data) {
                $("#analytics").empty().html(data);
            }
        );
        ///// GOOGLE ANALYTICS /////
        <?php if( isset( $this->view->analytics ) ):?>
            //cidades que mais acessaram nos ultimos 30 dias
            var valuesCidade30 = [
                <?php $contador = 0;
                $nomesCidade30 = "";
                $maiorCidade30 = 0;
                $maiorCidadeDesc30 = "";
                foreach ($this->view->analytics['cidade'] as $info):
                if($contador < 5):?>
                <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
                <?php $nomesCidade30 .= $contador ? "," : "";
                $nomesCidade30 .= $contador . ": '" . str_replace("'", "&rsquo;", $info['cidade'] ) . "'";
                $maiorCidade30 = $contador == 0 ? $info['sessions'] : $maiorCidade30;
                $maiorCidadeDesc30 = $contador == 0 ? $info['cidade'] : $maiorCidadeDesc30;
                $contador++;
                endif;
                endforeach;?>
            ];
            $('.sparkline-bar-cidade30').sparkline(valuesCidade30, {
                type: 'bar',
                height: 36,
                barWidth: 5,
                barColor: '#fff',
                barSpacing: 2,
                tooltipFormat: '{{offset:names}} - {{value}}',
                tooltipValueLookups: {
                    names: {
                        <?=$nomesCidade30?>
                    }
                }
            });
		
        $("#maiorCidade30").empty().html("<?= $maiorCidadeDesc30?>");
        //$("#maiorCidadeDesc30").empty().html("<?= $maiorCidadeDesc30?>");

        //Origem dos acessos nos ultimos 30 dias
        var valuesOrigemAcessos30 = [
            <?php $contador = 0;
            $nomesOrigemAcessos30 = "";
            $maiorOrigemAcessos30 = 0;
            $maiorOrigemAcessosDesc30 = "";
            foreach ($this->view->analytics['midia'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesOrigemAcessos30 .= $contador ? "," : "";
            $nomesOrigemAcessos30 .= $contador . ": '" . str_replace("'", "&rsquo;", $this->nomeOrigem( $info['midia'] ) ) .
                "'";
            $maiorOrigemAcessos30 = $contador == 0 ? $info['sessions'] : $maiorOrigemAcessos30;
            $maiorOrigemAcessosDesc30 = $contador == 0 ? $this->nomeOrigem( $info['midia'] ) :
                $maiorOrigemAcessosDesc30;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-OrigemAcessos30').sparkline(valuesOrigemAcessos30, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesOrigemAcessos30?>
                }
            }
        });
        $("#maiorOrigemAcessos30").empty().html("<?= $maiorOrigemAcessosDesc30?>");
        //$("#maiorOrigemAcessosDesc30").empty().html("<?= $maiorOrigemAcessosDesc30?>");

        //Dispositivos que mais acessaram nos ultimos 30 dias
        var valuesDispositivo30 = [
            <?php $contador = 0;
            $nomesDispositivo30 = "";
            $maiorDispositivo30 = 0;
            $maiorDispositivoDesc30 = "";
            foreach ($this->view->analytics['dispositivo'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesDispositivo30 .= $contador ? "," : "";
            $nomesDispositivo30 .= $contador . ": '" . str_replace("'", "&rsquo;", $info['dispositivo'] ) . "'";
            $maiorDispositivo30 = $contador == 0 ? $info['sessions'] : $maiorDispositivo30;
            $maiorDispositivoDesc30 = $contador == 0 ? $info['dispositivo'] : $maiorDispositivoDesc30;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-Dispositivo30').sparkline(valuesDispositivo30, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesDispositivo30?>
                }
			}
		});
		$("#maiorDispositivo30").empty().html("<?= ucwords( $maiorDispositivoDesc30 )?>");
		//$("#maiorDispositivoDesc30").empty().html("<?= $maiorDispositivoDesc30?>");

        <?php
        endif;?>

    });
</script>

