<div class="four-zero" style="background-color: <?=COR_SITE?>">
    <div class="fz-block">
        <h2>404</h2>
        <small>Página não encontrada!  :(</small>

        <div class="fzb-links">
            <a href="<?=BASE_SITE?>"><i class="zmdi zmdi-home"></i></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        var content = $("#content").innerWidth();
        var container = $("#content .container").innerWidth();
        var fourzero = $("#content .container .four-zero").innerWidth();

        var meio = parseInt( ( (content - container)/2 ) - (container - fourzero) );
        $(".fz-block").css("margin-left","-"+meio+"px");

    });
</script>