<div class="row d-flex align-items-stretch justify-content-between">
    <div class="col-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-header">
                <h2 class="card-title">Contatos por dia nos últimos 7 dias</h2>
            </div>

            <div class="card-block">
                <div class="flot-chart flot-line"></div>
                <div class="flot-chart-legends flot-chart-legends--line"></div>
            </div>
        </div>
    </div>
</div>
<div class="card" id="listamsg">
    <div class="card-header">
        <form action="" method="post" class="sky-form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="row">
                        <div class="col-5">
                            <div class="input-group">
                                <div class="form-group">
                                    <input readonly type="text" class="form-control" name="start"
                                           id="data_de" placeholder="Data Inicial" />
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-center">
                            <i class="zmdi zmdi-swap" style="font-size: 24px !important;"></i>
                        </div>
                        <div class="col-5">
                            <div class="input-group">
                                <div class="form-group">
                                    <input readonly type="text" class="form-control" name="end"
                                           id="data_a" placeholder="Data Final" />
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 pt-5 pt-sm-0">
                    <div class="form-group form-group--float">
                        <input type="text" name="palavra" class="form-control required"
                               value="<?=@$this->view->palavra?>">
                        <label>Pesquisar</label>
                    </div>
                </div>
                <div class="col-12 col-sm-3 text-center">
                    <button type="submit" class="btn bgm-gray waves-effect btn-filtros" id="envia_form">
                        <i class="zmdi zmdi-filter-list"></i> Filtrar
                    </button>
                    &nbsp; &nbsp;
                    <button type="button" class="btn bgm-gray waves-effect btn-filtros" onclick="location.href='<?=BASE_SITE?>mensagens-trabalhe-conosco/exportar?start=<?=$this->view->dataIni?>&end=<?=$this->view->dataFim?>'">
                        <i class="zmdi zmdi-collection-text"></i> Exportar Excel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                <tr>
                    <th width="9%">Data</th>
                    <th width="40%">Dados</th>
                    <!-- <th>Assunto /Mensagem</th> -->
                    <th width="8%">Lido</th>
                </tr>
                </thead>
                <tbody>
                <?php 
                $protocolo = $_SERVER['SERVER_PORT'] == "443" ? "https" : "http";
                $linkcanonical = $protocolo . "://".$_SERVER['HTTP_HOST'] . @array_shift( @explode( "index.php", $_SERVER['SCRIPT_NAME'] ) );
                $linkAnexo = str_replace("admin","anexos",$linkcanonical);
                if($this->view->lista->num_rows):
                    foreach ($this->view->lista as $f):?>
                        <tr>
                            <td align="center"><?=date("d/m/Y", strtotime($f['data']) )?><br><?=date("H:i", strtotime($f['data']) )?></td>
                            <td>
                                <strong>Nome:</strong> <?= $f['nome'] ?><br>
                                <strong>E-mail:</strong> <?= $f['email'] ?><br>
                                <strong>Linkedin:</strong> <?= $f['linkedin'] ?><br>
                                <strong>Telefone:</strong> <?= $f['telefone'] ?><br>
                                <strong>Celular:</strong> <?= $f['celular'] ?><br>
                                <strong>Cep:</strong> <?= $f['cep'] ?><br>
                                <strong>Data de Nascimento:</strong> <?= $f['dt_nasc'] ?><br>
                                <strong>Anexo:</strong> <a href="<?=$linkAnexo.$f['anexo']?>"><?= $f['anexo'] ?></a><br>
                            </td>
                            <!-- <td>
								<strong>Assunto:</strong> <?//= $f['assunto'] ?><br><br>
                                <strong>Mensagem:</strong> <?//= html_entity_decode( $f['mensagem'], ENT_QUOTES )?>
                            </td> -->
                            <td>
                                <div class="toggle-switch">
                                    <input id="ts<?=$f['id']?>" data-idmsg="<?=$f['id']?>" type="checkbox"
                                           value="<?=$f['status']?>" class="lido toggle-switch__checkbox" <?=$f['status'] == "s" ? "checked" : ""?> >
                                    <i class="toggle-switch__helper"></i>
                                </div>
                            </td>
                        </tr>
                        <?php
                    endforeach;
                    else:?>
                        <tr><td align="center" colspan="5" style="padding-top: 3rem;"><?= @$_POST ? "Não encontramos nenhum contato com o filtro especificado" : "Ainda não recebemos nenhum contato" ?></td></tr>
                    <?php
                    endif;?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $(".maisInfo").hide();
        var idInfo = 0;

        $(".verInfo").click(function(){
            var idmsg = $(this).data("idmsg");
            if(idmsg != idInfo)
            {
                $(".info" + idInfo).hide("slow");
                idInfo = idmsg
            }
            else
                idInfo = 0;
            $(".info" + idmsg).toggle("slow")
        });

        $(".lido").click(function() {
            var status = $(this).val() == "s" ? "n" : "s";
            var retorno = $(this).val() == "s" ? "NÃO LIDO" : "LIDO";
            var id = $(this).data("idmsg");

            $.post("<?=BASE_SITE?>mensagens/status", {
                    status: status,
                    id: id

                }, function(data) {
                    swal("Sucesso!","O contato foi marcado como " + retorno,"success");
                }
            );

        });
        $("#data_de").flatpickr({
            defaultDate:"<?=$this->view->dataIni?>",
            dateFormat: "d/m/Y",
            locale: "pt",
            maxDate: new Date()
        });
        $("#data_a").flatpickr({
            defaultDate:"<?=$this->view->dataFim?>",
            dateFormat: "d/m/Y",
            locale: "pt",
            maxDate: new Date()
        });

        var data7 = [
            <?php $contador = 0;
            //$this->view->start7 . "<br>" . $this->view->end7
            $start = $this->view->start7;
            do{
                $start = strtotime('+1 day',$start);
                $compara = date("d/m", $start);

                if( array_key_exists($compara,$this->view->lista7) ):?>
                    ,["<?=$compara?>", <?=$this->view->lista7[$compara]['total']?>]
                <?php
                    else:?>
                    ,["<?=$compara?>", 0]
                <?php
                    endif;

            }while($start <= $this->view->end7);?>
        ]
        var dataSet7 = {label: 'Contatos/Dia - últimos 7 dias', data: data7,color: '<?= COR_SITE?>'};

        $.plot(".flot-line", [ dataSet7 ], {
            series: {
                lines: {
                    show: true,
                    barWidth: 0.05,
                    fill: 0
                }
            },
            shadowSize: 0.1,
            grid : {
                borderWidth: 1,
                borderColor: '#edf9fc',
                show : true,
                hoverable : true,
                clickable : true,
                autoHighlight: true
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            },
            yaxis: {
                tickDecimals: 0
            },
            legend:{
                container: '.flot-chart-legends--line',
                backgroundOpacity: 0.5,
                noColumns: 0,
                backgroundColor: '#fff',
                lineWidth: 0,
                labelBoxBorderColor: '#fff'
            }
        });

        <?php if($this->view->listaCont7):?>
        var pieData = [
            <?php $addComma = 0;
            foreach ($this->view->listaCont7 as $f):?>
                <?= $addComma ? "," : "";?>
                {data: <?= $f['total']?>, label: '<?= $f["ponto_postagem"]?> - <?=
                    $f["ponto"]?>'}
                <?php
                $addComma++;
            endforeach;?>
        ]

        $.plot('.flot-pie', pieData, {
            series: {
                pie: {
                    show: true,
                    stroke: {
                        width: 2
                    }
                }
            },
            label: {
                show: "auto",
                formatter: function(label, slice) {
                    // console.log(label);console.log(slice)
                    return "<div style='font-size:x-small;text-align:center;padding:2px;color:" + slice.color + ";'>" + label + "<br/>" + Math.round(slice.percent) + "%</div>";
                },	// formatter function
                radius: 1,	// radius at which to place the labels (based on full calculated radius if <=1, or hard pixel value)
                background: {
                    color: null,
                    opacity: 0
                },
                threshold: 0	// percentage at which to hide the label (i.e. the slice is too narrow)
            },
            grid : {
                hoverable : true,
            },
            legend: {
                container: '.flot-chart-legend--pie',
                backgroundOpacity: 0.5,
                noColumns: 2,
                backgroundColor: "white",
                lineWidth: 10,
                labelBoxBorderColor: '#fff'
            }
        });
        <?php
        endif;?>

        $(".flot-chart").bind("plothover", function (event, pos, item) {
            if(item)
            {
                var classe = $(this)["0"].className.split(" ").pop();
                // console.log(item)
                if(classe == "flot-line")
                {
                    var contato = parseInt(item.datapoint[1]) > 1 ? " contatos" : " contato";
                    $('.flot-tooltip').html( item.series.data[ (item.datapoint[0] + 1) ]["0"] + " - "  + item
                        .datapoint[1] + contato ).css({top: item.pageY+5, left: item.pageX+5}).show();
                    $('.legend-pie').empty().addClass("invisible")
                }
                else if(classe == "flot-pie")
                {
                    var contato = parseInt(item.series.datapoints.points[1]) > 1 ? " contatos" : " contato";
                    $('.legend-pie').empty().html( item.series.label + " - " + item.series.datapoints.points[1] +
                        contato
                    ).removeClass("invisible");
                    // console.log(item.series.label + "<br>" + item.series.datapoints.points[1] + contato)
                }
            }
            else
            {
                $('.legend-pie').empty().addClass("invisible")
                $('.flot-tooltip').hide();
            }
        });
        $('<div class="flot-tooltip"></div>').appendTo('body');

    } );
</script>
