<?php ob_start();//para não travar quando alterar os headers//
header("Content-type: application/msexcel; charset=utf-8");
header("Content-Disposition: attachment; filename=".$this->view->novoNome.".xls");
?>
<table border="1" width="100%">
    <tr>
		<th width="10%">Data</th>
		<th width="40%">Nome</th>
		<th>E-mail</th>
    </tr>
    <?php foreach ($this->view->lista as $f):?>
        <tr>
            <td valign="top"><?=date("d/m/Y H:i", strtotime($f['data']) )?></td>
            <td valign="top"><?=$f['nome']?></td>
            <td valign="top"><?=$f['email']?></td>
        </tr>
    <?php
    endforeach;?>
</table>


