<div class="card">
	<div class="card-header">
		<form class="form-horizontal" action="<?=BASE_SITE?>noticias/cadastro" method="post" enctype="multipart/form-data" id="validation-form">
			<input type="hidden" name="id-cond" value="<?=@$this->view->dados['id']?>" />
			<div class="row pt-3">
				<div class="col-12 col-sm-2">
					<div class="form-group form-group--float">
						<input type="text" id="dataIniciar" name="data-date" class="form-control fg-input text-center dataPicker" value="<?= @$this->view->dados['data'] ? date("d/m/Y", strtotime( $this->view->dados['data'] ) ) : date("d/m/Y")?>" readonly >
						<label class="fg-label">Data de Postagem</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-12 col-sm-4" style="margin-top: -19px;">
                    <label class="fg-label" style="margin-bottom: 15px;font-size: .875rem !important;">Status</label>
                    <br />
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="s" <?= !isset($this->view->dados['status']) || @$this->view->dados['status'] == 's' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Publicado</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="n" <?=@$this->view->dados['status'] == 'n' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Despublicado</span>
                    </label>
                </div>
				<div class="col-12 col-sm-4" style="margin-top: -19px;">
                    <label class="fg-label" style="margin-bottom: 15px;font-size: .875rem !important;">Destaque</label>
                    <br />
                    <label class="custom-control custom-radio">
                        <input type="radio" name="principal-string" value="s" <?= !isset($this->view->dados['principal']) || @$this->view->dados['principal'] == 's' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Sim</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input type="radio" name="principal-string" value="n" <?=@$this->view->dados['principal'] == 'n' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Não</span>
                    </label>
                </div>
				<!-- <div class="col-12 col-sm-10" style="">
					<div class="form-group form-group--float">
						<label class="fg-label" style="margin-top: -18px; font-size: .875rem !important;">Título da Notícia</label>
							<input type="text" name="titulo-string" class="form-control fg-input required" value="<?=@$this->view->dados['titulo']?>" onclick="$(this).removeClass('errorForm')">
						<i class="form-group__bar"></i>
					</div>
				</div>
				<div class="col-12">
					<label class="label_tit">Texto</label>
					<div class="summer-editor">
						<textarea class='texto' name="texto-string"><?= htmlspecialchars_decode( @$this->view->dados['texto'])?></textarea>
					</div>
				</div> -->
			</div>

            <div class="row">
                <div class="col-12" >
                    <div class="tab-container">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#pt-2" role="tab">Português</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#en-2" role="tab">Inglês</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#es-2" role="tab">Espanhol</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade show" id="pt-2" role="tabpanel">
								<div class="row pt-3">
									<div class="col-12">
										<label class="fg-label mb-0">Título da Notícia (Português)</label>
										<div class="form-group form-group--float">
												<input type="text" name="titulo_pt-string" class="form-control fg-input required" value="<?=@$this->view->dados['titulo_pt']?>" onclick="$(this).removeClass('errorForm')">
											<i class="form-group__bar"></i>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-12">
										<label class="label_tit">Descrição - Texto de Introdução (Português)</label>
										<div class="summer-editor">
											<textarea class='texto' name="descricao_pt-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['descricao_pt']),"<br />");?></textarea>
										</div>
									</div>
								</div> -->
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Texto (Português)</label>
										<div class="summer-editor">
											<textarea class='texto' name="texto_pt-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['texto_pt']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                            <div class="tab-pane fade show" id="en-2" role="tabpanel">
								<div class="row">
									<div class="col-12 pt-3">
										<label class="fg-label mb-0">Título da Notícia (Inglês)</label>
										<div class="form-group form-group--float">
												<input type="text" name="titulo_en-string" class="form-control fg-input required" value="<?=@$this->view->dados['titulo_en']?>" onclick="$(this).removeClass('errorForm')">
											<i class="form-group__bar"></i>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-12">
										<label class="label_tit">Descrição - Texto de Introdução (Inglês)</label>
										<div class="summer-editor">
											<textarea class='texto' name="descricao_en-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['descricao_en']),"<br />");?></textarea>
										</div>
									</div>
								</div> -->
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Texto (Inglês)</label>
										<div class="summer-editor">
											<textarea class='texto' name="texto_en-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['texto_en']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                            <div class="tab-pane fade show" id="es-2" role="tabpanel">
								<div class="row">
									<div class="col-12 pt-3">
										<label class="fg-label mb-0">Título da Notícia (Espanhol)</label>
										<div class="form-group form-group--float">
												<input type="text" name="titulo_es-string" class="form-control fg-input required" value="<?=@$this->view->dados['titulo_es']?>" onclick="$(this).removeClass('errorForm')">
											<i class="form-group__bar"></i>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-12">
										<label class="label_tit">Descrição - Texto de Introdução (Espanhol)</label>
										<div class="summer-editor">
											<textarea class='texto' name="descricao_es-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['descricao_es']),"<br />");?></textarea>
										</div>
									</div>
								</div> -->
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Texto (Espanhol)</label>
										<div class="summer-editor">
											<textarea class='texto' name="texto_es-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['texto_es']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

			<div class="row pt-1">
				<div class="col-12 col-sm-12">
					<label class="fg-label" style="font-size: .875rem !important;">URL Personalizada</label>
					<div class="form-group form-group--float">
							<input type="text" name="url-string" class="form-control fg-input" value="<?= @$this->view->dados['url']?>" onclick="$(this).removeClass('errorForm')">
                        <i class="form-group__bar"></i>
                    </div>
				</div>
                <!-- <div class="col-12 col-sm-3">
                    <label class="fg-label" style="margin-bottom: 15px;font-size: .875rem !important;">Status</label>
                    <br />
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="s" <?= !isset($this->view->dados['status']) || @$this->view->dados['status'] == 's' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Publicado</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="n" <?=@$this->view->dados['status'] == 'n' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Despublicado</span>
                    </label>
                </div> -->
			</div>
			<div class="row pt-3">
				<div class="col-12 col-sm-6" style="margin-top: -19px;">
					<label class="fg-label" style="margin-top: -18px;font-size: .875rem !important;">Foto de Capa (Preferencialmente 1920x1080px)</label><br />
					<?php if( @$this->view->dados['foto'] ):
						$tam = getimagesize( RAIZ_SITE . "imagens/posts/thumb/" . $this->view->dados['foto'] );?>
						<img style="max-width: 90%" src="../../../imagens/posts/thumb/<?=$this->view->dados['foto']?>" >
						<button type="button" class="btn btn-danger waves-effect excluiImg" data-toggle="tooltip" data-placement="top" title="Excluir Imagem" style="position: absolute;margin-left: 5px;" data-foto="<?=$this->view->dados['foto']?>" data-idblog="<?=@$this->view->dados['id']?>">
							<i class="zmdi zmdi-delete" style="font-size: 14px !important;"></i>
						</button>
						<?php
					else:?>
						<input type="file" name="logo" class="form-control-file" aria-describedby="fileHelp">
						<?php
					endif;?>
				</div>
			</div>
			<div class="row pt-5">
				<div class="col-12 text-center">
					<button class="btn btn-gray btn-lg btn-icon-text waves-effect" id="btn-salvar"><i class="zmdi zmdi-floppy"></i> Salvar </button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Tags -->
<script src="<?=BASE_SITE?>vendor/CRO/BaseAdmin/js/tags/typeahead.js" ></script>
<script src="<?=BASE_SITE?>vendor/CRO/BaseAdmin/js/tags/bootstrap-tag.js" ></script>

<script type="text/javascript">
    $(function() {

        var tag_input = $('#form-field-tags');
        try {
            tag_input.tag(
                {
                    placeholder: tag_input.attr('placeholder')
                }
            )
        }
        catch (e) {
			// console.log(e);
			//display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
			//$('#form-field-tags').autosize({append: "\n"});
        };

        $("#validation-form").submit(function(){

            var retorna = true;

            var texto = "";

            if($("input[name='titulo-string']").val() == "")
            {
                texto += "* Titulo<br />";
                retorna = false;
            }
            if($("textarea[name=texto-string]").val() == "")
            {
                texto += "* Texto<br />";
                retorna = false;
            }

            if($("textarea[name=descricao-string]").val() == "")
            {
                texto += "* Descrição - Texto de Introdução<br />";
                retorna = false;
            }

            if ($("input[name=logo]").val() == "")
            {
                texto += "* Foto de Capa<br />";
                retorna = false;
            }

            if(retorna == false)
                swal("Opa! Os campos abaixo são obrigatórios:<br /><br />", texto, "warning");
			else
				$("#btn-salvar").attr("disabled",true)
            // console.log(retorna)
            return retorna;
        });
		
		$(".dataPicker").flatpickr({
            defaultDate:"<?= @$this->view->dados['data'] ? date("d/m/Y", strtotime( $this->view->dados['data'] ) ) : date("d/m/Y")?>",
            dateFormat: "d/m/Y",
            locale: "pt"
            // minDate: "today"
        });

        $(".excluiImg").click(function () {
            var imagem = $(this).data("foto");
            var idblog = $(this).data("idblog");
            swal({
                title: 'Foto de Capa!',
                html: '<img width="100%" src="../../../imagens/posts/thumb/' + imagem + '" ><br>Deseja realmente excluir essa imagem?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Não, cancelar'
            }).then(function () {
                $.post("<?=BASE_SITE?>noticias/excImg", {
                        imagem: imagem,
                        id: idblog

                    }, function(data) {
                        // console.log(data);
                        swal({
                            title: 'Foto excluída!',
                            text: "Agora você pode cadastrar uma nova foto de capa.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: ' Ok '
                        }).then(function () {
                            location.href = window.location;
                        })
                    }
                );
            })
        });
		
		$("input[name=url-string]").blur(function(){
			var url = $(this).val();
			if(url)
			{
                $.post("<?=BASE_SITE?>noticias/checkUrl", {
                        url: url,
                        id: <?=@$this->view->dados['id'] ? 'parseInt("' . @$this->view->dados['id'] . '")' : 0?>

				}, function(data) {
					if( parseInt(data) )
					{
						swal("URL inválida","A URL &ldquo;" + url + "&rdquo; já está sendo usada em outra notícia<br><br>Utilize uma nova URL Personalizada.", "warning");
						$("input[name=url-string]").val("");
					}
				});
			}
		})

		$("input[name=titulo_pt-string]").blur(function(){
			var titulo = $(this).val();
			if(titulo)
			{
                $.post("<?=BASE_SITE?>noticias/geraUrl", {
                        titulo: titulo,
                        id: <?=@$this->view->dados['id'] ? 'parseInt("' . @$this->view->dados['id'] . '")' : 0?>

				}, function(data) {
					$("input[name=url-string]").val(data);
				});
			}
		})

        function resetar( novoTexto, classe ){
            var botoes = [
                ['para', ['style', 'paragraph', 'ul', 'ol'] ],
                ['style', ['bold', 'italic', 'underline', 'clear'] ],
				['font', ['strikethrough', 'superscript', 'subscript']],
                ['insert', ['picture', 'link', 'video', 'table', 'hr'] ],
                ['misc', ['fullscreen','codeview'] ]
            ];
            if(classe.indexOf("texto") < 0) {
                botoes = [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['misc', ['fullscreen', 'codeview']]
                ];
            }

            var colou = false;
            var contador = 0;
            $("." + classe).summernote({
                lang: "pt-BR",
                disableDragAndDrop: true,
                toolbar: botoes,
				styleTags: ['p', 'h2', 'h3'],
                callbacks: {
                    onPaste: function(e) {
                        colou = true;
                    },
                    onChange: function(e) {
						// console.log(e.length)
                        if(colou)
                        {
                            if(contador)
                            {
								if(classe.indexOf("descricao") >= 0 && e.length > 257)
								{
									$.post("<?=BASE_SITE?>acoes/limpaTexto", {
										texto : e
									},function (data) {
										var txt = data.split(" ");
										var novoTexto = "";
										var contador = 0;
										for(x = 0; x < txt.length; x++ ){
											var cont = txt[x].length;
											contador += cont + 1;
											if( contador < 256 )
												novoTexto += novoTexto ? " " + txt[x] : txt[x];
											else
												break;
										}
										//novoTexto += "</p>"
										$("." + classe).summernote('destroy');
										resetar(novoTexto, classe)
									})
								}
								else
								{
									// console.log(e)
									$.post("<?=BASE_SITE?>acoes/limpaTexto", {
										texto : e
									},function (data) {
										// console.log(data);
										$("." + classe).summernote('destroy');
										resetar(data,classe)
									})
								}								
                            }
                            contador++;
                        }
						else if(classe.indexOf("descricao") >= 0 && e.length > 257)
						{
							$.post("<?=BASE_SITE?>acoes/limpaTexto", {
								texto : e
									},function (data) {
										var txt = data.split(" ");
										var novoTexto = "";
										var contador = 0;
										for(x = 0; x < txt.length; x++ ){
											var cont = txt[x].length;
											contador += cont + 1;
											if( contador < 256 )
												novoTexto += novoTexto ? " " + txt[x] : txt[x];
											else
												break;
										}
										//novoTexto += "</p>"
										$("." + classe).summernote('destroy');
										resetar(novoTexto, classe)
									})
						}
                    },
                    onInit:function () {
                        if(novoTexto)
                            $("." + classe).summernote('code', novoTexto);
						<?php if( !isset($this->view->dados['id']) ):?>
						else
							$("." + classe).summernote('code', "");
						<?php
						endif;?>
                    },
                    onImageUpload: function(files) {
                        var titulo = $("input[name=titulo-string]").val();
                        if(titulo) {
                            var data = new FormData();
                            data.append("file", files[0]);
                            data.append("pagina", "noticias");
                            data.append("titulo", titulo);
                            $.ajax({
                                data: data,
                                type: "POST",
                                url: "<?=BASE_SITE?>acoes/salvaImagem",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (url) {
                                    // console.log(url)
                                    var imgNode = $('<img style="width: 100%">').attr("src", url)[0];
                                    $("." + classe).summernote('insertNode', imgNode);
                                }
                            });
                        }
                        else
                            swal("Ops, a sua notícia ainda não tem título :(","O título da notícia será incluido no nome da imagem. Isso ajuda em um ranqueamento melhor no Google :)","warning");
                    }
                }
            });

        }
        resetar("","texto");
        resetar("","descricao");

    });
</script>
