<div class="card">
    <div class="card-header">
		<div class="botao_topo">
			<button class="btn bgm-gray btn-lg btn_novo waves-effect">
				<i class="zmdi zmdi-plus-circle-o"></i>
				Nova Categoria
			</button>
			&nbsp;
			<button class="btn btn-danger btn-lg btn_excluir_selecionados waves-effect hidden-xs-up">
				<i class="zmdi zmdi-delete"></i>
				Excluir Selecionados
			</button>
		</div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-bordered">
                <thead class="thead-default">
                <tr>
                    <th style="width: 5% !important; text-align: center;" >
                        <label class="checkbox m-t-0" data-toggle="tooltip" data-placement="right" title="Selecionar todos">
                            <input type="checkbox" />
                            <i class="input-helper"></i>
                        </label>
                    </th>
					<th>
						Categoria
					</th>
					<th width="15%" class="thAcoes">Ações</th>
				</tr>
				</thead>
				<tbody>
				<?php foreach ($this->view->cat as $f):?>
					<tr>
						<td>
							<label class="checkbox m-t-0">
								<input type="checkbox" name="registros[]" value="<?=$f['id']?>" />
								<i class="input-helper"></i>
							</label>
						</td>
						<td><?=$f['categoria']?></td>
						<td align="center">
							<button class="btn bgm-gray waves-effect editar" data-texto="<?= base64_encode( $f['categoria'] )?>" data-id="<?=$f['id']?>" data-toggle="tooltip" data-placement="top" title="Editar">
								<i class="zmdi zmdi-edit"></i>
							</button>
							&nbsp;
							<button class="btn btn-danger waves-effect exclui" data-texto="<?=$f['categoria']?>" data-id="<?=$f['id']?>" data-toggle="tooltip" data-placement="top" title="Excluir">
								<i class="zmdi zmdi-delete"></i>
							</button>
						</td>
					</tr>
					<?php
				endforeach;?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function() {
        var tabela = "categorias";
        $('#data-table-basic').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [0,2] }
            ],
            "order": [1,"asc"],
            "autoWidth": false
        })

        .on('click', 'th input:checkbox' , function(){
            var count = 0;

            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox').each(function(){
                this.checked = that.checked;

                if($(this).is(":checked"))
                    count++;
            });

            if(count == 0)
                $(".btn_excluir_selecionados").addClass("hidden-xs-up");
            else
                $(".btn_excluir_selecionados").removeClass("hidden-xs-up");
        })

        .on("click", "tbody input:checkbox", function(){
            var count = 0;

            $('#data-table-basic tbody :checkbox:checked').each(function(i){
                count++;
            });

            if(count == 0)
                $(".btn_excluir_selecionados").addClass("hidden-xs-up");
            else
                $(".btn_excluir_selecionados").removeClass("hidden-xs-up");
        })

        .on("click", ".exclui", function(){
            var lista_de_ids = $(this).data("id");
            var titulo = "Excluir Categorias";
            var texto = "Deseja realmente excluir a categoria "+$(this).data("texto")+"?";
            var tipo = "id";
            var txt_retorno = "a categoria "+$(this).data("texto");
            var txt_exc = "excluída";
            excluir_registro("<?=BASE_SITE?>",titulo,texto,tabela,tipo,lista_de_ids,txt_retorno,txt_exc);
        });
		
        $(".btn_excluir_selecionados").click(function(){
            var array_de_ids = Array();

            $('#data-table-basic tbody :checkbox:checked').each(function(i){
                array_de_ids.push($(this).val());
            });

            var lista_de_ids = array_de_ids.join();
            var titulo = "Excluir Categorias";
            var texto = "Deseja realmente excluir as categorias selecionadas?";
            var tipo = "idstoarray";//todos os ids foram convertidos em um array
            var txt_retorno = "As categorias";
            var txt_exc = "excluídas";
            excluir_registro("<?=BASE_SITE?>",titulo,texto,tabela,tipo,lista_de_ids,txt_retorno,txt_exc);
        });

        function insere(id,cat_pt,txt_1,txt2){
            swal({
                title: id ? "Edição de Categoria" : "Cadastro de Categoria",
				html:'<div class="row">\
						<div class="col-12">\
							<label class="fg-label mb-0">Categoria*</label>\
							<div class="form-group form-group--float">\
									<input type="text" name="categoria-string" autofocus id="categoria" class="form-control fg-input required" value="' + cat_pt + '">\
								<i class="form-group__bar"></i>\
							</div>\
						</div>\
					</div>',
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: 'Cancelar',
                showLoaderOnConfirm: true,
                preConfirm: function (categoria) {
                    return new Promise(function (resolve, reject) {
                        if( $("#categoria").val() == '' )
                            reject('* A categoria é obrigatória!')
                        else
                        {
                            setTimeout(function() {
                                resolve()
                            }, 1000)
                        }
                    })
                },
                allowOutsideClick: false
            }).then(function () {
				var categoria = $("#categoria").val()
                $.post("<?=BASE_SITE?>noticias/addCategoria",{
                    "id-cond" : id,
					"categoria-string" : categoria
                }, function (data) {
                    var tipo = "success";
                    var titulo = "Sucesso!";
                    var texto = "A categoria: "+ categoria +" foi "+txt_1+" com sucesso";
                    if(data == "erro")
                    {
                        var tipo = "error";
                        var titulo = "Erro!";
                        var texto = "Ocorreu um erro ao "+txt_2+" a categoria: "+categoria;
                    }
                    // console.log(data);
                    swal({
                        title: titulo,
                        text: texto,
                        type: tipo,
                        showCancelButton: false,
                        closeOnConfirm: false
                    }).then(function(dismiss){
                        location.href = window.location;
                    });
                });
            })

        }

        $(".btn_novo").click(function(){
            insere("","","cadastrada","cadastrar");
        })

        $(".editar").click(function(){
            insere( $(this).data("id"), atob( $(this).data("texto") ), "editada", "editar" );
        })


    } );
</script>
