<!DOCTYPE html>
<html lang="pt-BR">
    <?php include('App/Views/includes/head.phtml');?>
    <body data-ma-theme="meuTema">
        <div class="login" style="background: url(<?=BASE_SITE?>App/Views/includes/imagens/img_fundo.jpg) center no-repeat; background-size: cover;">
        <!-- Login -->
            <div class="login__block active" id="l-login">
                <div class="login__block__header">
                    <img src="<?=BASE_SITE?>App/Views/includes/imagens/logo_b.png" style="max-width: 95% !important;">

                    <div class="actions actions--inverse login__block__actions">
                        <div class="dropdown">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" data-ma-action="login-switch"
                                   data-ma-target="#l-forget-password" href="">Esqueci minha senha :(</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="login__block__body mt-4">
                    <form action="<?=BASE_SITE?>login/login" method="post" id="validation-form">
                        <input type="hidden" name="acao" value="login">
                        <div class="form-group form-group--float form-group--centered">
                            <input type="text" name="email" class="form-control required">
                            <label>Email</label>
                            <i class="form-group__bar"></i>
                        </div>

                        <div class="form-group form-group--float form-group--centered">
                            <input type="password" name="senha" class="form-control required form-control--active">
                            <label>Senha</label>
                            <i class="form-group__bar"></i>
                        </div>

                        <button type="submit" class="btn btn--icon login__block__btn animated"><i class="zmdi
                        zmdi-arrow-forward"></i></button>
                        <p class="infoemail" style="margin: 10px 0 0 0 !important;">
                            <label style="margin: 0 !important;">Por favor, insira um email válido</label>
                        </p>
                    </form>
                    <?php if( isset( $this->view->retorno ) ):?>
                        <div class="retorno">
                            <p style="margin-top: 1rem;"><?=$this->view->retorno?></p>
                        </div>
                    <?php endif;?>
                </div>
            </div>

            <!-- Forgot Password -->
            <div class="login__block" id="l-forget-password">
                <div class="login__block__header palette-Purple bg">
                    <img src="<?=BASE_SITE?>App/Views/includes/imagens/logo_b.png" style="max-width: 95% !important;">
                    Esqueceu sua senha?

                    <div class="actions actions--inverse login__block__actions">
                        <div class="dropdown">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-login"
                                   href="">Voltar para Login</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="login__block__body">
                    <p class="mt-4">Digite o seu endereço de email que já te enviamos uma nova senha!</p>
                    <form action="<?=BASE_SITE?>login/lembrar" method="post" id="lembrar-form">
                        <input type="hidden" name="acao" value="lembrar">
                        <div class="form-group form-group--float form-group--centered">
                            <input type="text" name="email" class="form-control required">
                            <label>Email</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <button type="submit" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-check"></i></button>
                        <p class="infoemail" style="margin: 10px 0 0 0 !important;">
                            <label style="margin: 0 !important;">Por favor, insira um email válido</label>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <?php include('App/Views/includes/chamadas_javascript.phtml');?>
    </body>
</html>
<script type="text/javascript">
    $(function(){
        $(".infoemail").hide();
        //$(window).capslockstate();
        $("#validation-form").submit(function(){
            retorna = true;

            $("#validation-form .required").each(function (i,e) {
                console.log(e)
                if(e.value == "")
                {
                    retorna = false;
                    $(this).addClass("errorForm");
                }
                else if(e.name == "email")//valida se é um email válido
                {
                    if(!is_email( e.value ))
                    {
                        retorna = false;
                        $(this).addClass("errorForm");
                        $("#validation-form .infoemail").fadeIn("slow");
                    }
                }
            });
            if(retorna)
                $(".login__block__body button").addClass("lightSpeedOut")

            return retorna;
        });

        $("#lembrar-form").submit(function(){
            retorna = true;
            var email = $("#lembrar-form input[name=email]").val();
            if( email == "" )
            {
                retorna = false;
                $("#lembrar-form input[name=email]").addClass("errorForm")
            }
            else
            {
                if(!is_email( email )) {
                    retorna = false;
                    $("#lembrar-form input[name=email]").addClass("errorForm")
                    $("#lembrar-form .infoemail").fadeIn("slow");
                }
            }

            return retorna;
        });

        $(".required").click(function(){
            $(this).removeClass("errorForm");
            console.log($(this))
            if( $(this).attr("name") == "email" )
                $(".infoemail").fadeOut("fast");
        })

        $("#validation-form input[name=email]").focus();

    });
</script>
