<div class="card">
    <div class="card-header">
        <form class="form-horizontal" action="<?=BASE_SITE?>banners/cadastro" method="post" enctype="multipart/form-data"
              id="validation-form">
            <input type="hidden" name="id-cond" value="<?=@$this->view->dados['id']?>" />
            <input type="hidden" name="tipo-string" value="<?= $this->view->bannerTipo?>" />

            <div class="row">
                <div class="col-12" >
                    <div class="tab-container">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#pt-2" role="tab">Português</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#en-2" role="tab">Inglês</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#es-2" role="tab">Espanhol</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade show" id="pt-2" role="tabpanel">
								<div class="row pt-3">
									<div class="col-12">
										<label class="fg-label mb-0">Título (Português)</label>
										<div class="summer-editor">
                                            <textarea class='titulo' name="titulo_pt-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['titulo_pt']),"<br />");?></textarea>
                                        </div>
									</div>
								</div>
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Subtítulo (Português)</label>
										<div class="summer-editor">
                                            <textarea class='subtitulo' name="subtitulo_pt-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['subtitulo_pt']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                            <div class="tab-pane fade show" id="en-2" role="tabpanel">
								<div class="row">
									<div class="col-12 pt-3">
										<label class="fg-label mb-0">Título (Inglês)</label>
										<div class="summer-editor">
                                            <textarea class='titulo' name="titulo_en-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['titulo_en']),"<br />");?></textarea>
                                        </div>
									</div>
								</div>
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Subtítulo (Inglês)</label>
										<div class="summer-editor">
                                            <textarea class='subtitulo' name="subtitulo_en-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['subtitulo_en']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                            <div class="tab-pane fade show" id="es-2" role="tabpanel">
								<div class="row">
									<div class="col-12 pt-3">
										<label class="fg-label mb-0">Título (Espanhol)</label>
										<div class="summer-editor">
                                            <textarea class='titulo' name="titulo_es-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['titulo_es']),"<br />");?></textarea>
                                        </div>
									</div>
								</div>
								<div class="row pt-3">
									<div class="col-12">
										<label class="label_tit">Subtítulo (Espanhol)</label>
										<div class="summer-editor">
                                            <textarea class='subtitulo' name="subtitulo_es-string"><?=rtrim(htmlspecialchars_decode( @$this->view->dados['subtitulo_es']),"<br />");?></textarea>
										</div>
									</div>
								</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
				<?php if( $this->view->bannerTipo != "f" ):?>
                <div class="col-12 col-sm-4 pl-3">
                    <label class="fg-label">Status</label>
                    <br />
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="s" <?= !isset($this->view->dados['status']) || @$this->view->dados['status'] == 's' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Ativo</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input type="radio" name="status-string" value="n" <?=@$this->view->dados['status'] == 'n' ? "checked" : ""?> class="custom-control-input" >
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Inativo</span>
                    </label>
                </div>
                <?php
				endif;?>
                <div class="col-12 col-sm-4">
                    <label class="fg-label">Imagem do Banner Desktop (Tam. recomendado: 1920x1080px)</label><br />
                    <?php if( @$this->view->dados['foto'] ):?>
                        <img src="<?= str_replace("admin/","",BASE_SITE)
                        ?>imagens/banners/thumb/<?=@$this->view->dados['foto']?>" >
                        <button type="button" class="btn btn-danger waves-effect excluiImg" data-toggle="tooltip" data-placement="top" title="Excluir Imagem" style="position: absolute;margin-left: 5px;" data-foto="<?=@$this->view->dados['foto']?>" data-idblog="<?=@$this->view->dados['id']?>">
                            <i class="zmdi zmdi-delete" style="font-size: 14px !important;"></i>
                        </button>
                    <?php
                    else:?>
                        <input type="file" name="logo" class="form-control-file" aria-describedby="fileHelp">
                    <?php
                    endif;?>
                </div>
                <div class="col-12 col-sm-4">
                    <label class="fg-label">Imagem do Banner Mobile (Tam. recomendado: 990x1300px)</label><br />
                    <?php if( @$this->view->dados['foto_mobile'] ):?>
                        <img src="<?= str_replace("admin/","",BASE_SITE)
                        ?>imagens/banners/thumb/<?=@$this->view->dados['foto_mobile']?>" >
                        <button type="button" class="btn btn-danger waves-effect excluiImg" data-toggle="tooltip" data-placement="top" title="Excluir Imagem" style="position: absolute;margin-left: 5px;" data-foto="<?=@$this->view->dados['foto_mobile']?>" data-idblog="<?=@$this->view->dados['id']?>">
                            <i class="zmdi zmdi-delete" style="font-size: 14px !important;"></i>
                        </button>
                    <?php
                    else:?>
                        <input type="file" name="logo_mobile" class="form-control-file" aria-describedby="fileHelp">
                    <?php
                    endif;?>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center pt-5">
                    <button class="btn btn-gray btn-lg btn-icon-text waves-effect" id="botaoSalvar"><i class="zmdi zmdi-floppy"></i> Salvar </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $("#validation-form").submit(function(){
            var retorna = true;
            var texto = "";
            if($("textarea[name=titulo-string]").val() == "")
            {
                texto += "* Título do Banner<br />";
                retorna = false;
            }
            if ($("input[name=logo]").val() == "")
            {
                texto += "* Imagem do Banner<br />";
                retorna = false;
            }
            if(retorna == false)
                swal("Opa! Os campos abaixo são obrigatórios:<br /><br />", texto, "warning");
            else
                $("#botaoSalvar").attr("disabled",true);
            console.log(retorna);
            return retorna;
        });
        $(".excluiImg").click(function () {
            var imagem = $(this).data("foto");
            var idblog = $(this).data("idblog");
            swal({
                title: 'Imagem do Banner!',
                text: "Deseja realmente excluir essa imagem?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Não, cancelar'
            }).then(function () {
                $.post("<?=BASE_SITE?>banners/excImg", {
                        imagem: imagem,
                        id: idblog
                    }, function(data) {
                        console.log(data);
                        swal({
                            title: 'Foto excluída!',
                            text: "Agora você pode cadastrar um novo banner.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: ' Ok '
                        }).then(function () {
                            location.href = window.location;
                        });
                    }
                );
            });
        });

        function resetar( novoTexto, classe ){
            var botoes = [
                ['style', ['bold', 'clear'] ],
                ['misc', ['fullscreen','codeview'] ]
            ];
            if(classe == "intro-string") {
                botoes = [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['misc', ['fullscreen', 'codeview']]
                ];
            }
            var colou = false;
            var contador = 0;
            $("." + classe).summernote({
                lang: "pt-BR",
                disableDragAndDrop: true,
                toolbar: botoes,
                callbacks: {
                    onPaste: function(e) {
                        colou = true;
                    },
                    onChange: function(e) {
                        if(colou)
                        {
                            var texto = $(this).val();
                            if(contador)
                            {
                                console.log(e);
                                $.post("<?=BASE_SITE?>acoes/limpaTexto", {
                                    texto : e
                                },function (data) {
                                    console.log(data);
                                    $("." + classe).summernote('destroy');
                                    resetar(data,classe)
                                });
                            }
                            contador++;
                        }
                    },
                    onInit:function () {
                        if(novoTexto)
                            $("." + classe).summernote('code', novoTexto);
                    },
                    onImageUpload: function(files) {
                        var titulo = $("input[name=titulo-string]").val();
                        if(titulo) {
                            var data = new FormData();
                            data.append("file", files[0]);
                            data.append("pagina", "banners");
                            data.append("titulo", titulo);
                            $.ajax({
                                data: data,
                                type: "POST",
                                url: "<?=BASE_SITE?>acoes/salvaImagem",
                                cache: false,
                                contentType: false,
                                processData: false,
                                success: function (url) {
                                    console.log(url);
                                    var imgNode = $('<img style="width: 100%">').attr("src", url)[0];
                                    $("." + classe).summernote('insertNode', imgNode);
                                }
                            });
                        }
                        else
                            swal("Ops, a sua notícia ainda não tem título :(","O título da notícia será incluido no nome da imagem. Isso ajuda em um ranqueamento melhor no Google :)","warning");
                    }
                }
            });
        }
        resetar("","titulo");
        resetar("","subtitulo");
        resetar("","descricao");

        $("input[name=logo]").change(function () {
            var ext = $(this).val().split(".").pop().toLowerCase();
            if(ext != "jpg" && ext != "jpeg" && ext != "png")
            {
                $(this).val("");
                swal("Arquivo Inválido","Selecione um arquivo JPG ou PNG","warning");
            }
        });
    });
</script>