<div class="card">
    <div class="card-header">
        <div class="botao_topo">
            <?php 
                $protocolo = $_SERVER['SERVER_PORT'] == "443" ? "https" : "http";
                $linkcanonical = $protocolo . "://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
                $ban = strrpos($linkcanonical, "bannerscarossel");
                $banhome = strrpos($linkcanonical, "bannershome");
                if ($ban == true) { // note: três sinais iguais
                    $linkAtualizado = "bannerscarossel";
                } else {
                    if ($banhome == true) { // note: três sinais iguais
                        $linkAtualizado = "bannershome";
                    } else {
                        $linkAtualizado = "banners";
                    }
                }
            ?>
            <button class="btn bgm-gray btn-lg btn_novo waves-effect" onclick="location
                    .href='<?=BASE_SITE?><?=$linkAtualizado?>/cadastrar<?= $this->view->tipo == "r" ? "Rodape" : ""?>'">
                <i class="zmdi zmdi-image-alt"></i>
                Novo Banner
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <?php if( mysqli_num_rows($this->view->imagens) ):?>
                    <div id="ordenacaoFotos">
                        <h3 class="center">
                            Ordena&ccedil;&atilde;o dos Banners &nbsp; <i class="zmdi zmdi-arrows"></i>
                        </h3>
                        <hr>
                        <div id="ordenacao" class="ordemBanner">
                            <?php foreach($this->view->imagens as $row): ?>
                                <span>
                                    <img height="150" src="<?= RAIZ_SITE?>imagens/banners/thumb/<?= $row['foto']?>"
                                         style="margin-left:15px;margin-bottom: 15px;" />
                                    <span style="position: absolute;background-color: rgba(0,0,0,0.75);margin-left:
                                    -31px; padding: 4px;height: 150px;">
                                        <p>
                                            <i class="zmdi zmdi-edit" onclick="location
                                                    .href='<?=BASE_SITE?><?=$linkAtualizado?>/cadastrar<?= $this->view->tipo == "r" ? "Rodape" : ""?>/<?=$row['id']?>'" style="color: #AAA;cursor: pointer; font-size: 22px;" data-toggle="tooltip" data-placement="top" title="Editar"></i>
                                        </p>
                                        <p>
                                            <i class="zmdi status zmdi-<?= $row['status'] == 's' ? "check-square" : "square-o" ?>" data-idfoto="<?= $row['id'] ?>" data-status="<?= $row['status'] ?>" style="color: #AAA;cursor: pointer; font-size: 22px;" data-toggle="tooltip" data-placement="top" title="<?= $row['status'] == 's' ? "Clique para despublicar" : "Clique para publicar" ?>"></i>
                                        </p>
                                        <p>
                                            <i class="zmdi exclui zmdi-close-circle" data-foto="<?= $row['foto'] ?>" data-idfoto="<?= $row['id'] ?>" style="color: #AAA;cursor: pointer; font-size: 22px;"></i>
                                        </p>
                                        <input type="checkbox" style="width: 20px; height: 20px;" class="excluitodos" data-foto="<?= $row['foto'] ?>"
                                               data-idfoto="<?= $row['id'] ?>" >
                                    </span>
                                </span>
                            <?php
                            endforeach?>
                        </div>
                        <div class="row p-10 div-btn-excluir hidden-xs-up">
                            <div class="col-12 text-center">
                                <button class="btn btn-danger btn-lg btn-icon-text waves-effect btn-excluir"><i class="zmdi
                                zmdi-delete"></i> Excluir Selecionados </button>
                            </div>
                        </div>
                    </div>
                <?php
                else:?>
                    <h3 class="text-center">
                        Você ainda não tem nenhum banner cadastrado!
                    </h3>
                <?php
                endif;?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var el = document.getElementById('ordenacao');
        console.log(el)
        //var sortable = Sortable.create( el );
        var sortable = new Sortable(el, {
            onEnd: function () {
                atualiza = "";
                $("#ordenacao .exclui").each(function () {
                    atualiza += atualiza ? "|" : "";
                    atualiza += $(this).data('idfoto');
                });
                $.post("<?= BASE_SITE ?>banners/ordem", {
                    ordem : atualiza
                }, function(data) {
                    console.log(data)
                });
            }
        })
        $(".exclui").click(function () {
            console.log($(this));
            var idfoto = $(this).data('idfoto');
            var foto = $(this).data('foto');
            swal({
                title: 'Excluir Banner',
                html: 'Deseja realmente excluir esse banner?<br /><img width="100%" src="<?= RAIZ_SITE ?>imagens/banners/thumb/' + foto + '">',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Não, cancelar!'
            }).then(function () {
                $.post("<?= BASE_SITE ?>banners/exclui", {
                    id : idfoto,
                    foto: foto
                }, function(data) {
                    window.location.reload(true)
                });
            })
        })
        $(".excluitodos").click(function () {
            if( $(this).is(":checked") )
                $(".div-btn-excluir").removeClass("hidden-xs-up");
            else
            {
                var esconde = true;
                //verifica se ainda tem algum checado
                $(".excluitodos").each(function () {
                    if( $(this).is(":checked") )
                        esconde = false;
                })
                if(esconde)
                    $(".div-btn-excluir").addClass("hidden-xs-up");
            }
        });
        $(".btn-excluir").click(function () {
            var ids = "";
            var fotos = "";
            $(".excluitodos").each(function () {
                if( $(this).is(":checked") )
                {
                    ids += ids ? "|" : "";
                    fotos += fotos ? "|" : "";
                    ids += $(this).data("idfoto");
                    fotos += $(this).data("foto");
                }
            });
            console.log(ids)
            console.log(fotos)
            if(ids)
            {
                swal({
                    title: 'Excluir Banners',
                    text: 'Deseja realmente excluir todos os banners selecionados?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sim, excluir!',
                    cancelButtonText: 'Não, cancelar!'
                }).then(function () {
                    $.post("<?= BASE_SITE ?>banners/excluiTodas", {
                        ids : ids,
                        fotos: fotos
                    }, function(data) {
                        window.location.reload(true)
                    });
                });
            }
        });
        $(".status").click(function () {
            var idfoto = $(this).data("idfoto");
            var status = $(this).data("status");
            var novoStatus = status == 's' ? 'n' : 's';
            $(this).attr("data-status", novoStatus);
            $(this).attr("data-original-title", novoStatus == 'n' ? "Clique para publicar" : "Clique para despublicar");
            $(this).removeClass( novoStatus == 'n' ? "zmdi-check-square" : "zmdi-square-o" );
            $(this).addClass( novoStatus == 'n' ? "zmdi-square-o" : "zmdi-check-square" );
            $.post("<?= BASE_SITE ?>banners/status", {
                idfoto : idfoto,
                status : novoStatus
            }, function(data) {
                if(novoStatus == 'n')
                    window.location.reload(true)
            });
        })
    });
</script>