<?php ob_start();//para não travar quando alterar os headers//
header("Content-type: application/msexcel; charset=utf-8");
header("Content-Disposition: attachment; filename=".$this->view->novoNome.".xls");
?>
<table border="1" width="100%">
    <tr>
        <th>Data</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Cargo</th>
<!--        <th>Anexo</th>-->
        <th>Assunto</th>
        <th>Mensagem</th>
    </tr>
    <?php foreach ($this->view->lista as $f):?>
        <tr>
            <td valign="top"><?=date("d/m/Y H:i", strtotime($f['data']) )?></td>
            <td valign="top"><?= $f['nome']?></td>
            <td valign="top"><?=$f['email']?></td>
            <td valign="top"><?=$f['telefone']?></td>
            <td valign="top"><?=$f['cargo']?></td>
<!--            <td valign="top"><?=$f['anexo'] ? '<a href="' . RAIZ_SITE . 'anexos/' . $f['anexo'] . '" target="_blank" download style="color: #000 !important; text-decoration: none;">' . $f['anexo'] . '</a>' : ""?></td>-->
            <td valign="top"><?=$f['assunto']?></td>
            <td valign="top"><?= htmlspecialchars_decode( $f['mensagem'], ENT_QUOTES )?></td>
        </tr>
    <?php
    endforeach;?>
</table>
