<?php include_once ('App/Views/includes/head.phtml');
include_once('App/Views/includes/chamadas_javascript.phtml');?>
<!--
<div class="row quick-stats">
    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-light-blue">
            <div class="quick-stats__info">
                <h2><?= $this->view->analytics7['pageviews']?></h2>
                <small>Total de Acessos (7 dias)</small>
            </div>

            <div class="quick-stats__chart "></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-amber">
            <div class="quick-stats__info">
                <h2 id="maiorCidade7"></h2>
                <small id="maiorCidadeDesc7"></small>
            </div>

            <div class="quick-stats__chart sparkline-bar-cidade7"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-purple">
            <div class="quick-stats__info">
                <h2 id="maiorOrigemAcessos7"></h2>
                <small id="maiorOrigemAcessosDesc7"></small>
            </div>

            <div class="quick-stats__chart sparkline-bar-OrigemAcessos7"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-red">
            <div class="quick-stats__info">
                <h2 id="maiorDispositivo7"></h2>
                <small id="maiorDispositivoDesc7"></small>
            </div>

            <div class="quick-stats__chart sparkline-bar-Dispositivo7"></div>
        </div>
    </div>
</div>
-->
<div class="row quick-stats">
    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-light-blue">
            <div class="quick-stats__info">
                <h2><?= $this->view->analytics30['pageviews']?></h2>
                <small>Total de Acessos (30 dias)</small>
            </div>

            <div class="quick-stats__chart "></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-amber">
            <div class="quick-stats__info">
                <h2 id="maiorCidade30"></h2>
                <small id="maiorCidadeDesc30">Principal Cidade (30 dias)</small>
            </div>

            <div class="quick-stats__chart sparkline-bar-cidade30"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-purple">
            <div class="quick-stats__info">
                <h2 id="maiorOrigemAcessos30"></h2>
                <small id="maiorOrigemAcessosDesc30">Principal Origem (30 dias)</small>
            </div>

            <div class="quick-stats__chart sparkline-bar-OrigemAcessos30"></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item bg-red">
            <div class="quick-stats__info">
                <h2 id="maiorDispositivo30"></h2>
                <small id="maiorDispositivoDesc30">Principal Dispositivo (30 dias)</small>
            </div>

            <div class="quick-stats__chart sparkline-bar-Dispositivo30"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        //cidades que mais acessaram nos ultimos 7 dias
/*
        var valuesCidade7 = [
            <?php $contador = 0;
            $nomesCidade7 = "";
            $maiorCidade7 = 0;
            $maiorCidadeDesc7 = "";
            foreach ($this->view->analytics7['cidade'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesCidade7 .= $contador ? "," : "";
            $nomesCidade7 .= $contador . ": '" . str_replace("'", "&rsquo;", $info['cidade'] ) . "'";
            $maiorCidade7 = $contador == 0 ? $info['sessions'] : $maiorCidade7;
            $maiorCidadeDesc7 = $contador == 0 ? $info['cidade'] : $maiorCidadeDesc7;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-cidade7').sparkline(valuesCidade7, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesCidade7?>
                }
            }
        });
        $("#maiorCidade7").empty().html("<?= $maiorCidade7?>");
        $("#maiorCidadeDesc7").empty().html("<?= $maiorCidadeDesc7?>");
*/
        //cidades que mais acessaram nos ultimos 30 dias
        var valuesCidade30 = [
            <?php $contador = 0;
            $nomesCidade30 = "";
            $maiorCidade30 = 0;
            $maiorCidadeDesc30 = "";
            foreach ($this->view->analytics30['cidade'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesCidade30 .= $contador ? "," : "";
            $nomesCidade30 .= $contador . ": '" . str_replace("'", "&rsquo;", $info['cidade'] ) . "'";
            $maiorCidade30 = $contador == 0 ? $info['sessions'] : $maiorCidade30;
            $maiorCidadeDesc30 = $contador == 0 ? $info['cidade'] : $maiorCidadeDesc30;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-cidade30').sparkline(valuesCidade30, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesCidade30?>
                }
            }
        });
        $("#maiorCidade30").empty().html("<?= $maiorCidadeDesc30?>");
        //$("#maiorCidadeDesc30").empty().html("<?= $maiorCidadeDesc30?>");

        //Origem dos acessos nos ultimos 7 dias
        /*
        var valuesOrigemAcessos7 = [
            <?php $contador = 0;
            $nomesOrigemAcessos7 = "";
            $maiorOrigemAcessos7 = 0;
            $maiorOrigemAcessosDesc7 = "";
            foreach ($this->view->analytics7['midia'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesOrigemAcessos7 .= $contador ? "," : "";
            $nomesOrigemAcessos7 .= $contador . ": '" . str_replace("'", "&rsquo;", $this->nomeOrigem( $info['midia'] ) ) .
                "'";
            $maiorOrigemAcessos7 = $contador == 0 ? $info['sessions'] : $maiorOrigemAcessos7;
            $maiorOrigemAcessosDesc7 = $contador == 0 ? $this->nomeOrigem( $info['midia'] ) : $maiorOrigemAcessosDesc7;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-OrigemAcessos7').sparkline(valuesOrigemAcessos7, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesOrigemAcessos7?>
                }
            }
        });
        $("#maiorOrigemAcessos7").empty().html("<?= $maiorOrigemAcessos7?>");
        $("#maiorOrigemAcessosDesc7").empty().html("<?= $maiorOrigemAcessosDesc7?>");
*/
        //Origem dos acessos nos ultimos 30 dias
        var valuesOrigemAcessos30 = [
            <?php $contador = 0;
            $nomesOrigemAcessos30 = "";
            $maiorOrigemAcessos30 = 0;
            $maiorOrigemAcessosDesc30 = "";
            foreach ($this->view->analytics30['midia'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesOrigemAcessos30 .= $contador ? "," : "";
            $nomesOrigemAcessos30 .= $contador . ": '" . str_replace("'", "&rsquo;", $this->nomeOrigem( $info['midia'] ) ) .
                "'";
            $maiorOrigemAcessos30 = $contador == 0 ? $info['sessions'] : $maiorOrigemAcessos30;
            $maiorOrigemAcessosDesc30 = $contador == 0 ? $this->nomeOrigem( $info['midia'] ) :
                $maiorOrigemAcessosDesc30;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-OrigemAcessos30').sparkline(valuesOrigemAcessos30, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesOrigemAcessos30?>
                }
            }
        });
        $("#maiorOrigemAcessos30").empty().html("<?= $maiorOrigemAcessosDesc30?>");
        //$("#maiorOrigemAcessosDesc30").empty().html("<?= $maiorOrigemAcessosDesc30?>");

        //Dispositivos que mais acessaram nos ultimos 7 dias
        /*
        var valuesDispositivo7 = [
            <?php $contador = 0;
            $nomesDispositivo7 = "";
            $maiorDispositivo7 = 0;
            $maiorDispositivoDesc7 = "";
            foreach ($this->view->analytics7['dispositivo'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesDispositivo7 .= $contador ? "," : "";
            $nomesDispositivo7 .= $contador . ": '" . str_replace("'", "&rsquo;", $info['dispositivo'] ) . "'";
            $maiorDispositivo7 = $contador == 0 ? $info['sessions'] : $maiorDispositivo7;
            $maiorDispositivoDesc7 = $contador == 0 ? $info['dispositivo'] : $maiorDispositivoDesc7;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-Dispositivo7').sparkline(valuesDispositivo7, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesDispositivo7?>
                }
            }
        });
        $("#maiorDispositivo7").empty().html("<?= $maiorDispositivo7?>");
        $("#maiorDispositivoDesc7").empty().html("<?= $maiorDispositivoDesc7?>");
*/
        //Dispositivos que mais acessaram nos ultimos 30 dias
        var valuesDispositivo30 = [
            <?php $contador = 0;
            $nomesDispositivo30 = "";
            $maiorDispositivo30 = 0;
            $maiorDispositivoDesc30 = "";
            foreach ($this->view->analytics30['dispositivo'] as $info):
            if($contador < 5):?>
            <?= $contador ? "," . $info['sessions'] : $info['sessions']?>
            <?php $nomesDispositivo30 .= $contador ? "," : "";
            $nomesDispositivo30 .= $contador . ": '" . str_replace("'", "&rsquo;", $info['dispositivo'] ) . "'";
            $maiorDispositivo30 = $contador == 0 ? $info['sessions'] : $maiorDispositivo30;
            $maiorDispositivoDesc30 = $contador == 0 ? $info['dispositivo'] : $maiorDispositivoDesc30;
            $contador++;
            endif;
            endforeach;?>
        ];
        $('.sparkline-bar-Dispositivo30').sparkline(valuesDispositivo30, {
            type: 'bar',
            height: 36,
            barWidth: 5,
            barColor: '#fff',
            barSpacing: 2,
            tooltipFormat: '{{offset:names}} - {{value}}',
            tooltipValueLookups: {
                names: {
                    <?=$nomesDispositivo30?>
                }
            }
        });
        $("#maiorDispositivo30").empty().html("<?= ucwords( $maiorDispositivoDesc30 )?>");
        //$("#maiorDispositivoDesc30").empty().html("<?= $maiorDispositivoDesc30?>");

    } );
</script>
