<header class="header">
    <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
        <div class="navigation-trigger__inner">
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
        </div>
    </div>

    <div class="header__logo hidden-sm-down">
        <h1>
            <a href="<?=BASE_SITE?>">
                <img id="img-logo" src="<?=BASE_SITE?>App/Views/includes/imagens/logo_b.png" style="max-height: 35px
                !important;">
            </a>
        </h1>
    </div>

    <form action="<?=BASE_SITE?>mensagens#listamsg" method="post" class="search" enctype="multipart/form-data">
        <div class="search__inner">
            <form action="<?=BASE_SITE?>mensagens" method="post" class="sky-form" enctype="multipart/form-data">
            <input type="text" name="palavra" class="search__text" value="" placeholder="Pesquisar contatos do site">
            <i class="zmdi zmdi-search search__helper" data-ma-action="search-close"></i>
        </div>
    </form>

    <ul class="top-nav">
        <li class="hidden-xl-up"><a href="" data-ma-action="search-open"><i class="zmdi zmdi-search"></i></a></li>

        <li class="dropdown top-nav__notifications" id="contato">
            <a href="" data-toggle="dropdown" class="top-nav__notify" id="icone-contato">
                <i class="zmdi zmdi-notifications"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" id="notifica-contato"></div>
        </li>

        <li class="dropdown hidden-xs-down">
            <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="" class="dropdown-item">Fullscreen</a>
                <a href="<?=BASE_SITE?>usuarios/meus-dados" class="dropdown-item">Meus Dados</a>
                <a href="<?=BASE_SITE?>logout" class="dropdown-item">Logout</a>
            </div>
        </li>

	</ul>

</header>
