<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
			<div class="user__info" data-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" class="user__img" width="232" height="232" viewBox="0 0 232 232">
                    <g id="Grupo_1933" data-name="Grupo 1933" transform="translate(-4464 12645)">
                        <rect id="Retângulo_919" data-name="Retângulo 919" width="232" height="232" transform="translate(4464 -12645)" fill="#fff"/>
                        <g id="Camada_x0020_1" transform="translate(4481.37 -12645)">
                        <path id="Caminho_2021" data-name="Caminho 2021" d="M145.555,105.717c40.377,0,49.543,48.8,49.543,80.588s-14.845,45.331-27.957,45.292c-3.959-.011-46.147-.111-69.587-.17-23.441.059-65.629.158-69.587.17C14.855,231.635.01,218.1.01,186.3s9.167-80.588,49.543-80.588h2.059a65.407,65.407,0,0,0,92.725,0h1.217ZM97.975,0A59.574,59.574,0,1,1,38.4,59.574,59.574,59.574,0,0,1,97.975,0Z" transform="translate(-0.01 0)" fill="#A60000" fill-rule="evenodd"/>
                        </g>
                    </g>
                </svg>
                <div>
                    <div class="user__name"><?=$_SESSION[DB_DATABASE]['nome']?></div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="<?=BASE_SITE?>usuarios/meus-dados">Meus Dados</a>
                <a class="dropdown-item" href="<?=BASE_SITE?>logout">Logout</a>
            </div>
        </div>

        <ul class="navigation">
            <li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/index" ? 'class="navigation__active"' : ""?> >
                <a href="<?=BASE_SITE?>"><i class="zmdi zmdi-home"></i> Dashboard</a>
            </li>

            <li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/mensagens" ? 'class="navigation__active"' : ""?> >
                <a href="<?=BASE_SITE?>mensagens"><i class="zmdi zmdi-comments"></i> Formulário de Contato</a>
            </li>

            <li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/mensagens-trabalhe-conosco" ? 'class="navigation__active"' : ""?> >
                <a href="<?=BASE_SITE?>mensagens-trabalhe-conosco"><i class="zmdi zmdi-case-check"></i> Formulário Trabalhe Conosco</a>
            </li>

			<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/clientes/listar" ? 'class="navigation__active"' : ""?> >
				<a href="<?=BASE_SITE?>clientes/listar"><i class="zmdi zmdi-star"></i> Clientes</a>
			</li>

			<li class="navigation__sub <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/bannershome" ? "navigation__sub--active navigation__sub--toggled" : ""?> ">
				<a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-wallpaper"></i> Banner Home Topo</a>
				<ul <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/bannershome" ? 'style="display: block;"' : ""?> >
					<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/bannershome/cadastrar" ? 'class="navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>bannershome/cadastrar">Cadastrar Banner Home</a>
					</li>
					<li <?= strpos(  $_SESSION[DB_DATABASE]['rotaUrl'], "/bannershome/listar" ) !== false ? 'class="navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>bannershome/listar">Listar Banners Home</a>
					</li>
				</ul>
			</li>

			<li class="navigation__sub <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/projetos" ? "navigation__sub--active navigation__sub--toggled" : ""?> ">
				<a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-city"></i> Projetos</a>

				<ul <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/projetos" ? 'style="display: block;"' : ""?> >
					<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/projetos/cadastrar" ? 'class=" navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>projetos/cadastrar">Cadastrar Projeto</a>
					</li>

					<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/projetos/listar" ? 'class=" navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>projetos/listar">Listar Projetos</a>
					</li>
				</ul>
			</li>

			<li class="navigation__sub <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/noticias" ? "navigation__sub--active navigation__sub--toggled" : ""?> ">
				<a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-collection-text"></i> Notícias</a>

				<ul <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/noticias" ? 'style="display: block;"' : ""?> >
					<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/noticias/cadastrar" ? 'class=" navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>noticias/cadastrar">Cadastrar Publicação</a>
					</li>

					<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/noticias/listar" ? 'class=" navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>noticias/listar">Listar Publicações</a>
					</li>
				</ul>
			</li>

			<li class="navigation__sub <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/usuarios" ? "navigation__sub--active navigation__sub--toggled" : ""?> ">
				<a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts"></i> Usuários</a>

				<ul <?=$_SESSION[DB_DATABASE]['rotaMenu'] == "/usuarios" ? 'style="display: block;"' : ""?> >
					<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/usuarios/cadastrar" ? 'class="navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>usuarios/cadastrar">Novo Usuário</a>
					</li>

					<li <?=$_SESSION[DB_DATABASE]['rotaUrl'] == "/usuarios/listar" ? 'class="navigation__active"' : ""?> >
						<a href="<?=BASE_SITE?>usuarios/listar">Listar Usuários</a>
					</li>
				</ul>
			</li>
        </ul>
    </div>
</aside>

<script type="text/javascript">
    var contador = 0;
    var num = 0;

    function altera_title(){
        if(contador)
        {
            if(num == 0)
                $('title').empty().html("Voc&ecirc; tem");
            else if(num == 1)
                $('title').empty().html(contador + (contador == 1 ? " mensagem" : " mensagens"));
            else if(num == 2)
                $('title').empty().html(contador == 1 ? "n&atilde;o lida!" : "n&atilde;o lidas!");

            num = num < 2 ? (num + 1) : 0;
        }
        else
            $('title').empty().html("<?=NOME_CLIENTE?>");
    }

    function buscamsg()
    {
        $.post("<?=BASE_SITE?>notificacoes/msg",{

        }, function (data) {
            console.log(data);
            var numero = parseInt( data.split("|<>|").shift() );
            contador += numero

            var contatos = data.split("|<>|").pop()
            if(numero)
                $("#icone-contato").addClass("top-nav__notify");
            else
                $("#icone-contato").removeClass("top-nav__notify");

            $("#notifica-contato").empty().html(contatos);

        });

    }
    setInterval(function(){
        contador = 0;
        num = 0;

        buscamsg();
    },30000);//verificação a cada meio minuto
    buscamsg();

    setInterval(function(){
        altera_title()
    },1000);

    function limpaMensagens(tipo = "")
    {
        tipo = tipo ? tipo : "contato";
        origem = tipo == "denuncia" ? tipo : "msgcontato";

        $("#icone-" + tipo).removeClass("top-nav__notify")
        num = 0;
        contador = 0;

        $.post("<?=BASE_SITE?>mensagens/tudoLido",{
            origem : origem
        }, function(data) {
            buscamsg();
        })

        setTimeout(function(){
            $( "#" + tipo ).removeClass("show");
        },1000);

    }

</script>
